[2018-10-11 13:16] uinest opened #4979 "Having test spec name as test name in browserstack"
I want to set the test spec name as the test name in browserstack. Below is my browserstack stack config file. I am using protractor.

[code]
The beforeSession hook doesn't update the test name in browserstack as the test spec name. Looking forward for any suggestion. Appreciate your help.

Thanks

[2018-10-11 17:32] ShinDarth commented on #4695
check my answer here: https://stackoverflow.com/questions/51536244/how-to-use-puppeteer-in-an-angular-application/52765728#52765728

I hope it helps

[2018-10-12 07:20] IgorSasovets commented on #4979
Hi, @uinest ! As I understand now results of all specs displayed as one test on BrowserStack?

[2018-10-12 07:27] uinest commented on #4979
@IgorSasovets  , the test name is shown as the browser base url. For Instance,  if my test name is login.spec then it is now displayed as xxxx-master.com , I instead want it as login.spec.js

[2018-10-12 08:35] IgorSasovets commented on #4979
Try to remove `baseUrl` option from your config file and add `shardTestFiles: true` to your capabilities

[2018-10-12 08:36] IgorSasovets commented on #4979
It helped me in similar case but with Sauce Labs

[2018-10-12 11:46] StanislavKharchenko opened #4980 "Protractor failed on start if use Object's extension"
Hi there!

I'm trying to use extension of Object which could be imported inside protractor tests or page-object.
The simple object extension is:

Object.prototype.someMethod = function() {
// To Do
}

When this code imported to test case or page-object, on attempt to run protractor I have the following failure:

[code]

If object's extension removed then all is ok.
This problem is not related to i

[2018-10-12 15:59] maks187 opened #4981 "ts-node -> register -> tsconfig.e2e.json -> error because parse of "node_modules\tsconfig\src\tsconfig.ts" why?"
Bug report
---

- Node Version: `8.12.0`
- Protractor Version: `5.4.1`
- Angular Version: `5.2.5`
- Browser(s): `headless chrome`
- Operating System and Version `win10`
- Your protractor configuration file

[code]

- A relevant example test
- Output from running the test

[code]

- Steps to reproduce the bug

ng e2e

[2018-10-13 19:51] rafalf commented on #4966
**UPDATE**

after some investigation I found out that its all due to
`shardTestFiles` and `maxInstances`
Once I stopped testing in parallel all have started working ok

[2018-10-14 06:48] tymfear commented on #4749
Is there any resolution for this?

[2018-10-14 16:07] ShinDarth commented on #3092
any news about this? It looks like Protractor development is no longer that active...

[2018-10-15 07:48] woppa684 commented on #4307
@vikerman Should I make a feature request out of the above comments?

In short, what I would like to have in protractor (since `--elementExplorer` is no longer working with recent node.js versions) is a mode that just starts protractor, ignores spec files and just keeps running until some manual method call (something like `protractor.exit()`?). We could start protractor in this mode with `node --

[2018-10-15 15:57] udayvikash commented on #2142
how can i enable "show touch"... any suggestion

[2018-10-15 16:51] FreshQa commented on #4475
@joshmgrant I too am seeing a similar instance, however my OS is Windows 10 Pro. It would appear the click event is being called, but the actual event is off-module. In my case, since the click exposes a SAP flag before progressing to the next step, the scenario fails with a timeout. Same result for Firefox, and we do not support IE/Edge.

[2018-10-16 09:09] amitcprabhu commented on #374
expect(elem.isNull===undefined).to.be.equal(true);

[2018-10-16 12:48] IgorSasovets commented on #4976
They are almost the same, but take a look at `specs` definition in provided example. Maybe you need to change regex to
[code]

[2018-10-16 15:46] Jayasankar-m commented on #3634
Added a pull request https://github.com/angular/protractor/pull/4983 as per comments

[2018-10-16 16:00] CrispusDH commented on #4976
maybe you could try just pass `../test/**/*.js`. I mean the real way from your specific `outdir` path?

[2018-10-16 16:07] demisx commented on #4976
@CrispusDH I am sorry, but I am not following. My e2e specs are  `./e2e` folder, so is `protractor.config.js`. The specs are in TypeScript and compiled on the fly by `ts-node`. This is why it's set to `specs: ['./*.e2e-spec.ts']`. If I change it to `../test/**/*.js` nothing is going to match.

[2018-10-16 16:09] demisx commented on #4976
And do you think the problem is somewhere in my code and not in protractor and/or maybe a bug in VS Code? After all, it complains about `node_modules/protractor/tsconfig.json` file, outside of my project folders.

[2018-10-16 16:47] CrispusDH commented on #4976
I suggest that it could be an issue with `on fly` by `ts-node`. Could you try without it :)

[2018-10-16 18:40] demisx commented on #4976
Disabling `ts-node` makes no difference.

[2018-10-16 19:43] CrispusDH commented on #4976
My second suggestion that it is a mess in path. Could you try to do the same as in @IgorSasovets example:
- `baseUrl` in `tsconfig.json`
- `specs` in `protractor.conf.js`
- `project` path in `protractor.conf.js`

[2018-10-16 19:53] adamtaylor13 commented on #4693
Any update on this? I've been having the same error, and I'm not sure at all what's causing it. Do we understand what the actual problem is or do we have a workaround for the time being?

[2018-10-17 06:57] IgorSasovets commented on #4976
@demisx , could you share your test project (you can modify it and delete essential data)? I'd run it on my local machine and notify you about the results.

[2018-10-17 16:35] flekmatik commented on #4940
We are having the same issue. Our suite started failing (maybe it's connected to chromedriver 2.43), input.clear() method just stopped working, no error message

[2018-10-17 16:41] RenaudF commented on #4973
looks like a duplicate of #4760

[2018-10-17 17:49] DarthOpto opened #4984 "Switching From AngularJS to Latest Version of Angular in One Test"
I created [this](https://stackoverflow.com/questions/52726190/protractor-fails-going-to-angular-latest-section-of-our-app) question over on StackOverflow, but have gotten no response, just wondering if anyone has some thoughts on how to do this.

[2018-10-18 03:44] hlim05 commented on #4407
Getting the same error with MacOS High Sierra with Chrome Version 70.0.3538.67 (Official Build) (64-bit) after upgrading to ChromeDriver 2.43:

...
    raise exception_class(message, screen, stacktrace)
selenium.common.exceptions.WebDriverException: Message: unknown error: failed to change window state to maximized, current state is normal
  (Session info: chrome=70.0.3538.67)
  (Driver info: chro

[2018-10-18 09:28] JunichiOzawa commented on #4851
Hello, Just wanted to share my experience.

I am writing tests for my ionic3 + Angular5 application and I was using protractor 5.4.0(w/ jasmine 3.1.0) and all my tests were unstable  just like @Inframatic has explained above. They sometimes succeeded and sometimes failed(with index out of bounds, element not found or something of that sort). I tried all sorts of options in protractor.conf.js and t

[2018-10-18 12:41] dhruvatenfold commented on #4407
Getting this error whenever I run the automation scripts in UI mode:

WebDriverError: unknown error: failed to change window state to maximized, current state is normal
      (Session info: chrome=70.0.3538.67)
      (Driver info: chromedriver=2.43.600229 (3fae4d0cda5334b4f533bede5a4787f7b832d052),platform=Mac OS X 10.13.6 x86_64)

Not getting solution to handle it.

[2018-10-18 15:49] demisx commented on #4976
I am currently under a couple of deadlines, so preparing this project will be difficult. I'll see if I can come up with anything if that error still stays on. Currently, it's gone again.

[2018-10-19 13:14] itLead797 commented on #3325
browser.sleep(10000).then(function() {
      console.log('waited 10 seconds');
    });
Using this with Angular 6 and protractor version 5.4.1 does not work, at least that's what I'm seeing

[2018-10-20 21:11] demisx commented on #4976
@IgorSasovets Is there any way I could give you a temporary access to the project repo, so you can clone and see the error yourself?

[2018-10-21 06:37] ChandraGowda commented on #4729
@munna73 did you get solution for this, if so can you please share it here.

[2018-10-22 13:47] Gnoq commented on #1226
I'm having the same trouble. Although I configure Selenium to run in Docker. Checking out [](http://localhost:4444/grid/console), I had any nodes running.

[2018-10-22 19:44] sivachandran1982 commented on #4729
I am also facing the similar issue. My Script is working fine in firefox. But In IE, its launching the browser but it is stuck after that. Getting Webdrivererror : JavaScript error.
Using Standalone - 2.53 & IE driver -3. It works perfect in Firefox.
Any one pls help on this ?

[2018-10-22 21:59] TheMikeSanto commented on #2419
Also seeing this. At first it would only happen intermittently and could be fixed with a restart, now it seems to happen every time.
Protractor 5.4.1
Chrome 69.0.3497.100

[code]

[2018-10-23 07:46] IgorSasovets commented on #4976
@demisx , yes, just mail me.

[2018-10-23 11:29] developeromI89 commented on #467
But where are these files

[2018-10-23 14:50] MikePot commented on #4256
@JimTheMan Same here, I can't do webdriver-manager update, but I tried to copied all the files needed, and 'webdriver-manager start' does get run; then when I tried to run the first Protractor test (copied from the tutorial page), it doesn't get the page displayed on the chrome browser. Anyone can provide any help, it will be highly appreciated!!

[2018-10-23 20:36] aniltomar10 commented on #320
this worked for me.
onPrepare() {
    var jasmineReporters = require('jasmine-reporters');
      jasmine.getEnv().addReporter(new jasmineReporters.TeamCityReporter());
  }

[2018-10-23 23:30] MikePot commented on #4256
@ashishbansali Thank you so much, I tried that. And received an unhandled error. Do you have any guess?

events.js:167
      throw er; // Unhandled 'error' event
      ^

Error: getaddrinfo ENOTFOUND userID userID:443

[2018-10-24 08:04] rafalf commented on #2419
(related)[https://github.com/angular/protractor/issues/4966]

[2018-10-24 08:13] sergioalen commented on #4940
Check if you have a a `onblur` javascript execution. I've been having issues as well with clearing an input field which contains a validation function that runs onblur

[2018-10-24 08:48] padmarajnidagundi commented on #2667
@sjelin I have Version 5.4.1  protractor --version and ./node_modules/protractor/bin/protractor --version And I got " E/plugins - Failure during teardown: unknown error: Cannot read property 'collectIdRefs' of null"

Will you suggest me any solution.

[2018-10-24 10:32] maks187 commented on #4981
Nobody? It really looks like the combination of ts-node::require and protractor, tries to compile it's own config-template-sources..
there is no way for an framework(protractor)-user like me, to see behind the process, without the knowledge of the deep function of your framework.
thanks.

[2018-10-24 12:03] IgorSasovets commented on #4981
Hi, @maks187 ! Try to run tests in [this](https://github.com/IgorSasovets/baseNgApp) example project and notify me about the results.

[2018-10-24 15:32] MikePot commented on #4256
Thank you so much!! I still have the same error, see below.  Do you know if this is caused by the proxy may be not correct?

Sent from my iPhone

[2018-10-24 16:42] RonanC opened #4985 "Protractor proxy configuration property not working correctly"
Bug report
---

- Node Version: `8.12.0`
- Protractor Version: `5.4.0`
- Angular Version: `6.1`
- Browser(s): `Chrome`
- Operating System and Version `Windows 7 Enterprise SP1`

# Your protractor configuration file
[code]

# Output from running the test
[code]

# Steps to reproduce the bug
Run:
`npm run e2e`

- The URL you are running your tests against (if relevant)
NA

# Feature Request
I instal

[2018-10-24 19:56] rekhubs commented on #3599
I had the same issue, after searching around, I read somewhere says, `ng e2e` is using `serve` options in `angular.json`, so here's how I fixed it in my environment:
1. make sure `ng serve --ssl` work, app can be served with https;
2. set `ssl` as `true` in `angular.json` `serve` options:

[code]

[2018-10-24 21:19] aarr0n commented on #4940
Experiencing the same issue; `clear` method is just not working.

[2018-10-25 09:53] LayMuiToh commented on #698
I have a text with . and @  I have to split them up
lay.mui.toh@telephone.ai

await driver.elementByAccessibilityId('textUserName').sendKeys('lay.mui.toh@telephone.ai')
textfield will show laymui.toh@telephone.ai
I have to split them up in the code like this:

await driver.elementByAccessibilityId('textUserName').sendKeys('lay');
await driver.elementByAccessibilityId('textUserName').sendKeys('.mui

[2018-10-25 10:44] jagdheesh-github opened #4986 "if element.isPresent() returns false , protractor hangs inside then() block and jasmine spec times out"
Here is the scenario
1. I have 3 pages Login page , Change password page , go to home page
2. On each page , i put a check , if it is true , then execute a block of code , if false don't execute block of code .

Step 1.
var login = element(by.xpath('//h4[text()="Log In"]'));
login.isPresent().then(function(){
    // get login credentials from protractor config file and login
   // this block gets

[2018-10-25 11:10] CrispusDH commented on #4986
Please, impove your code formatting using ``` symbols before and after code parts

[2018-10-25 11:39] jagdheesh-github commented on #4986
Ignore syntax in above code. Syntax was not the problem. Otherwise protractor strictly reports syntax problems inside script.

[2018-10-25 15:06] CrispusDH commented on #4986
I meant syntax in your question (first post). It is really hard to read!

[2018-10-26 15:02] demonintherough commented on #3489
So i just wanted to reference a solution found on a different issue which solves this issue here: https://github.com/angular/angular/issues/11853#issuecomment-277185526.

[2018-10-26 18:02] MikePot commented on #4256
@ashishbansali Sorry to bug you, here is the response after running 'webdriver-manager update --proxy --ignore_ssl', the screen capture I sent you was not displayed, so I attached it here as a file.

[2018-10-26_13-24-47.pdf](https://github.com/angular/protractor/files/2520287/2018-10-26_13-24-47.pdf)

[2018-10-27 12:02] ishanm120 commented on #4407
Hi i am using OS Sierra 10.13.6 with chrome driver 2.41
and getting same error:
selenium.common.exceptions.WebDriverException: Message: unknown error: failed to change window state to maximized, current state is normal

[2018-10-29 05:50] raj8github commented on #4986
isPresent returns a promise that resolves to true or false depending on whether an element is present or not. So if an element is not present it just returns false inside the then() function. it does not skip and goto next step. If you need to really check if change password element is absent and execute step3 you could consume the bool from step2 and do your steps inside the then() of step2. Some

[2018-10-29 14:54] Biptor commented on #1827
Please @juliemr, if you know the answer, share it, we need to be more effective with the answers and not run to close the cases with bureaucratic phrases

[2018-10-29 14:56] Biptor commented on #1827
hi @iljapavlovs

I'm facing the same problem and I can't found a solution, even I used a try catch segment but still the exception appears and my test fall to broken

Thanks

[2018-10-29 19:15] DarthOpto commented on #4984
Using this worked. Thank you so much. I use it in my beforeEach() for the tests I need it on, but it does work.

[2018-10-29 19:15] #4984 closed

[2018-10-30 08:18] alex4200 commented on #4850
I have the same issue and I created a workaround:

[code]

[2018-10-30 09:04] jagdheesh-github commented on #4986
![image](https://user-images.githubusercontent.com/41364397/47706833-3a651e80-dc50-11e8-8252-bee6ffe78a99.png)

@raj8github ,  i tried the way you suggested , i.e trying to resolve the promise into a boolean value , pass it to then 'block', and see it returns from that block of code and execute the next steps . It does not happen. Its a bug. You know , if i close the browser (stop the test) , then

[2018-10-30 13:31] cambiph commented on #4662
Having the same problem with a more recent setup:

- Firefox: `63.0`
- Selenium Server: `3.14`
- NPM: `5.6.0`
- Node: `8.10.0`
- Protractor: `5.4.1`

[2018-10-30 17:17] demisx commented on #4294
The EPIPE error still happens quite often with latest protractor 5.4.1, chromedriver_2.43 and async/await on MacOS Mojave. We can't run E2E specs on CI anymore. Take multiple manual runs until all of them pass. Very unstable.

[2018-10-30 17:39] rafalf commented on #4294
@demisx
this is mainly happening for me for `each` , `filter` and other functions that are used iwth arrays

how I reworked it
[code]

[2018-10-30 18:17] demisx commented on #4294
@rafalf Yeah, that was the first thing we got rid of. Though, it reduced the frequency of EPIPE errors, they did not go away completely. It's getting worse when running protractor with multiple capabilities. So, far @kylecordes patch seems to be doing the job. Thank you @kylecordes! Hopefully, this fix will make it to `master` soon.

Off topic, you don't need `await` in `let l = await $$("q-short-

[2018-10-30 18:29] rafalf commented on #4294
@demisx no you are wrong , maybe thats why you get still EPIPE errors :dancer:
Yes - it returns ElementArrayFinder w/o await but you wont be able to iterate over it
and this part would not work
[code]

if i do `await`, I get a list of elements ;) that I can go through

[2018-10-30 20:18] demisx commented on #4294
@rafalf Sorry, my bad. I missed the iteration part below the `await`. You are absolutely correct.

[2018-10-31 06:33] samiullah commented on #4407
@srujana13  Are u  maximizing the browser in ur config file also. If u r doing this in two places one in config file and  other in test file then this issue occurs. The fix for this  is to add following to ` capabilities: {
    'browserName': 'chrome',
    'chromeOptions': {
   args: [        '--start-maximized',
        '--disable-impl-side-painting'
      ]
    }
  },

[2018-10-31 06:49] srujana13 commented on #4407
@samiullah hi, i tried doing the above, im still facing the issue

[2018-10-31 06:56] samiullah commented on #4407
@srujana13  are u using browser.manage().window.maximize() in ur OnPrepare block also??

[2018-10-31 07:01] srujana13 commented on #4407
yess, if i comment that code out, it's working

[2018-10-31 07:05] samiullah commented on #4407
@srujana13  so the workahead (Jugaad) is that we we remove "browser.manage().window.maximize()" from our OnPrepare block and add  --start-maximized argument in ur chromeoptions. Hope this helps u . Also dnt use  "browser.manage().window.maximize()" inside ur tests also

[2018-10-31 07:06] srujana13 commented on #4407
okay thank you so much :)

[2018-10-31 09:49] lubna-shaikh commented on #1328
Get the following error
`Failed: location.getId is not a function`
for
`browser.driver.actions().click('#flightForm div:nth-child(1) mat-form-field').sendKeys("SIN").perform();`

[2018-10-31 09:49] lubna-shaikh opened #4987 "Actions function in protractor resulting into an error"
`Failed: location.getId is not a function`
for
`browser.driver.actions().click('#flightForm div:nth-child(1) mat-form-field').sendKeys("SIN").perform();`

_Originally posted by @lubna-shaikh in https://github.com/angular/protractor/issue_comments#issuecomment-434624553_

[2018-10-31 12:02] kkrishan opened #4988 "Protractor hangs on login button click in headless chrome-debian-docker setup , works fine in windows"
Issue : Application has a nonangular login page and then angular app. Login page(html page) has username and password and submit button with ID. Protractor hangs while clicking on submit button in docker setup. Works fine in windows/windows+headless mode.

#Setup:
 - Protractor version: 5.4.1
 - chromedriverVersion: '2.43.600233'
 - chrome 'version' => '69.0.3497.92'
 - platform=Linux 3.10.0-862.1

[2018-10-31 16:53] Joelasaur commented on #4947
@suryadeepak Protractor's FAQ answers this question. https://github.com/angular/protractor/blob/master/docs/faq.md#how-do-i-deal-with-my-log-in-page

[2018-10-31 21:10] djom20 opened #4989 "WebDriverError: unknown error: failed to change window state to maximized, current state is normal"
Hi Team,

I have been using the maximize command for a long time ago but right now I'm facing this bug.

// My commands
browser.driver.manage().window().setSize(2440, 900);
browser.driver.manage().window().maximize(); // if I comment this line, it work fine!

Node: 6.9.1
protractor: 5.4.1
chrome=70.0.3538.77
chromedriver=2.40.565386
platform=Mac OS X 10.13.6 x86_64

![image](https://user-images.gi

[2018-11-01 13:21] wlsf82 commented on #4940
I'm also experiencing this issue with ChromeDriver 2.43, and downgrading to 2.42 fix the issue. :/

[2018-11-01 16:05] ShivaKumarRouthu commented on #4989
i am getting same error. can anyone solve it

[2018-11-01 19:13] CrispusDH commented on #4989
It's an issue of specific chrome version, just use `setSize()`

[2018-11-02 03:49] bboycs opened #4990 "w3c standards compliance"
- Protractor Version: 5.4.1
- Selenium: 4.0.0-alpha.1
- Browser(s): FireFox

HI, as i notice that selenium had implemented new API for actions method with W3C standard compliance and i face a problem when execute some actions (eg : browser.actions().keyDown(protractor.Key.CONTROL).click(elements).keyUp(protractor.Key.CONTROL).perform() ) in firefox and i will be receiving an error of  "fail to sen

[2018-11-02 12:59] deepres opened #4991 "E/launcher - unknown error: Chrome failed to start: crashed"
Bug report
---

- Node Version: `v11.0.0`
- Protractor Version: `5.4.1`
- Angular Version: `6`
- Browser(s): `Chrome Version 68.0.3440.75 (Official Build) (64-bit)`
- Operating System and Version `Windows 7 Pro Service Pack 1`
- Your protractor configuration file
[conf.js.txt](https://github.com/angular/protractor/files/2542434/conf.js.txt)

- A relevant example test
[todo-spec.js.txt](https://git

[2018-11-02 13:06] deepres commented on #4991
[todo-spec.js.txt](https://github.com/angular/protractor/files/2542495/todo-spec.js.txt)
correct version of the todo-spec.js file

[2018-11-02 15:32] #4751 closed

[2018-11-02 16:18] santirogu commented on #4757
https://github.com/angular/protractor/issues/4757#issuecomment-378381829

Excelente, it was very useful for me.

[2018-11-04 12:02] IgorSasovets commented on #4991
Hi, @deepres ! You need to update your Chrome browser. Chromedriver 2.43 [supports](http://chromedriver.chromium.org/downloads) v.69-71.

[2018-11-04 12:03] IgorSasovets commented on #4989
Hi, @djom20 ! Please provide your config file and tests example.

[2018-11-04 12:04] IgorSasovets commented on #4987
Hi, @lubna-shaikh ! Please provide your config file and test example.

[2018-11-05 10:36] bboycs commented on #4663
looking forward for the update on protractor 6 with  Webdriver 4.0 as quite some important task which related to multiple browser are still pending on stability on protractor and webdriver

[2018-11-05 23:02] CrispusDH commented on #4940
You should add explicit waiter for checking that this element is clickable before use `clear`.

[2018-11-06 08:46] kovacsbalu commented on #4940
@CrispusDH waiting does not solve the onblur problem

[2018-11-06 09:18] CrispusDH commented on #4940
@kovacsbalu , you are right. In my case after updating to `Chrome 70` I have started to get errors before `clear` method. But before `clear` method I have already had explicit waiter on visibility of element. When I change it to `clickable` condition the errors gone. So, just in case...

[2018-11-06 14:14] djom20 commented on #4989
@IgorSasovets, My config file is a little different but working as the normal config.

[code]

[2018-11-06 16:05] demisx commented on #4976
Upon further testing, this error appears to be VS Code related and very intermittent. Even @IgorSasovets could not replicate it. Closing it hoping 🤞 that one of the future IDE releases will fix it.

[2018-11-06 16:05] #4976 closed

[2018-11-06 17:22] deepres commented on #4991
Hi @IgorSasovets , thanks for the tip. Since in my current setup I cannot upgrade Chrome, i downgraded web driver to 2.42, run the server:
λ `webdriver-manager.cmd start  --versions.chrome 2.42`

and got  the same error message:

λ protractor.cmd conf.js
[10:53:48] I/launcher - Running 1 instances of WebDriver
[10:53:48] I/hosted - Using the selenium server at http://localhost:4444/wd/hub
[10:53:5

[2018-11-06 18:38] cnishina opened #4995 "selenium 4 upgrade process"
The `selenium-webdriver@4.0.0-alpha.1` upgrade process will be against the selenium4 branch. These will be code reviewed; however the tests might not pass.

change as much as possible without upgrading selenium-webdriver:

- [x] move test suite off of the control flow (test suite should pass here) - 11/09 #5017
- [x] remove the control flow - 11/23
- [x] convert webdriver.promise.Promise to native

[2018-11-06 18:43] IgorSasovets commented on #4991
I ran your config file on Windows 7 SP1, node `v.11.0.0` and didn't get errors. Take a look at this issues:
https://github.com/heroku/heroku-buildpack-google-chrome/issues/46
https://github.com/timgrossmann/InstaPy/issues/2362
https://github.com/angular/protractor/issues/4850
Also, I used next commands from the root project folder:
[code]
and then in another terminal window
[code]

[2018-11-06 19:09] IgorSasovets commented on #4989
I ran it on local machine and all works without errors. Try to remove `--start-maximized` option and update chromedriver to the latest version.

[2018-11-06 19:23] djom20 commented on #4989
@IgorSasovets let me test it, also which chromedriver version do you have?

[2018-11-06 19:32] djom20 commented on #4989
I just updated the chrome driver and removed the `--start-maximized` option, but the but still happening.

![image](https://user-images.githubusercontent.com/1834808/48088674-97bd1a80-e1d0-11e8-85d8-03a53370ece7.png)

[2018-11-06 19:55] IgorSasovets commented on #4989
I used `chromedriver 2.43`, `node 8.11.3`, and the same chrome version. Also, I installed `node 6.9.1` and ran under mentioned version, tested it on MacOS 10.12 and Windows 7. BTW, what is your working machine screen resolution?

[2018-11-06 21:15] djom20 commented on #4989
@IgorSasovets my resolution is:

![image](https://user-images.githubusercontent.com/1834808/48094021-01442580-e1df-11e8-9b5f-7dce8866a74a.png)

I just update my node version to test it, and I get the same bug.

[2018-11-07 14:31] KaterynaGubar commented on #2899
@juliemr I've faced same issue:

"after all" hook: codeceptjs.afterSuite:
     NoSuchSessionError: This driver instance does not have a valid session ID (did you call WebDriver.quit()?) and may no longer be used.
      at session_.flow_.promise (C:\Users\Kateryna_Gubar\AppData\Roaming\npm\node_modules\protractor\node_modules\selenium-webdriver\lib\webdriver.js:847:16)
      at new ManagedPromise (

[2018-11-07 14:54] Pringels commented on #4986
I struggled with a similar issue for days. This solved the problem for me:

https://stackoverflow.com/questions/43121400/run-ngrx-effect-outside-of-angulars-zone-to-prevent-timeout-in-protractor

See section in Angular docs:
https://www.protractortest.org/#/timeouts#angular

Hope it helps :)

[2018-11-07 18:58] cnishina commented on #4995
Today I'll work on moving the basic/*_spec.js tests:

- locators_spec.js
- lib_spec.js
- mockmodule_spec.js

and then I'll jump around to other tests in the suite.

@CrispusDH, this means in the basic, I will not touch these files if you want to take a shot at them. Please work on one file at a time as a pull request.

- expected_conditions_spec.js
- handling_spec.js
- navigation_spec.js
- polling

[2018-11-07 19:14] deepthikolla commented on #4989
I am getting the same issue with the chrome version "70.0.3538.77" but if I downgrade it to version "69.0.3497.92", it is working fine.

Error details are -
 _WebDriverError: unknown error: failed to change window state to maximized, current state is normal
       (Session info: chrome=70.0.3538.77)
       (Driver info: chromedriver=2.43.600229 (3fae4d0cda5334b4f533bede5a4787f7b832d052),platform=M

[2018-11-08 10:04] GYuriy opened #5015 "Can not verify modal window is present"
Hello.
I have a modal window which opens by clicking on the button. I need to verify that the window is shown so I tried to verify window is present by css. Also I tried to verify title of window. It does not work as well

[code]

How can I verify this window is present and it's a "Choose Client" window?

[2018-11-08 12:06] aneezfabi commented on #4850
@tony2tones Downgrading to 2.38 worked for me on Windows 10 Chrome 66.0.3359.181 . Thanks!

[2018-11-08 18:38] cnishina opened #5017 "selenium 4 upgrade: move test suite off of the control flow"
## move test suite off of the control flow

test suite should pass here

complete by: 11/09

cnishina work:

- [x] basic/element_spec.js
- [x] basic/lib_spec.js
- [x] basic/locators_spec.js
- [x] basic/mockmodule_spec.js
- [x] altRoot/\*_spec.js and inferRoot/\*_spec.js
- [x] mocha/*_spec.js
- [x] onCleanUp/*_spec.js
- [x] onPrepare/*_spec.js
- [x] suites/*_spec.js
- [x] withLogin/*_spec.js
- [x]

[2018-11-08 23:57] cnishina commented on #5017
@CrispusDH I added a few more items to your list. We'll get them merged. It will require some rebasing.

[2018-11-09 07:51] IgorSasovets commented on #4989
@djom20 , I guess that there might be problems with MacOS version support. Did you try the configuration on another OS?

[2018-11-09 10:40] GYuriy commented on #5015
I get this error
Failures:
1) Login page should show select client dialog
  Message:
    Failed: script timeout: result was not received in 11 seconds
      (Session info: chrome=70.0.3538.77)
      (Driver info: chromedriver=2.43.600210 (68dcf5eebde37173d4027fa8635e332711d2874a),platform=Windows NT 10.0.17134 x86_64)

[2018-11-09 11:33] djom20 commented on #4989
@IgorSasovets , I don't have another OS right now. Let me try to downgrade it to version to know if work fine.

[2018-11-09 14:21] MikePot commented on #4256
I have added proxy and proxy sees traffic to the  registry http://registry.npmjs.org/. But there are traffic to other IPs such as 192.30.1254.16:443, could the code be updated to going to the registry place for all traffic?  @ashishbansali , do you know if this is a known issue to people who work behind the corporate firewall?

[2018-11-09 17:39] cnishina opened #5028 "Type definition for inherited types from webdriver like clear chained with sendKeys"
The casting is ~~ridiculous~~ not ideal and should be fixed.

[code]

[2018-11-09 19:16] armorpreston opened #5030 "-v"
Hi there!

Thanks for submitting an issue to Protractor.

To help us help you better, please do the following before submitting an issue:

1. Review the questions section of [CONTRIBUTING.md](https://github.com/angular/protractor/blob/master/CONTRIBUTING.md#contributing).
2. Make sure you are not asking a usage or debugging question. If you are, use [StackOverflow](http://stackoverflow.com/questio

[2018-11-09 19:19] #5030 closed

[2018-11-09 22:25] cnishina opened #5031 "browser.forkNewDriverInstance should return a promise that resolves to the new browser"
Reference #5019

https://github.com/angular/protractor/blob/ed955e56a839d7f69da43acb6755763220d3681d/lib/runner.ts#L275

"I think this is so convoluted because it needed to support the control flow case as well. This should be cleaned up - forkNewDriverInstance() should just return a promise that resolves to the new browser instance, after its ready."

browser.forkNewDriverInstance should return a

[2018-11-09 23:11] GuyMograbi commented on #4298
Any update? I am running into this now.

[2018-11-09 23:35] GuyMograbi commented on #4971
Seeing this too. Can we please get some love here?

[2018-11-12 13:18] anudeepsinghpatelgithub commented on #2419
I am still facing same error.
I am not using

below is my
`
exports.config = {
  framework: 'jasmine2',
  getPageTimeout: pageLoadTimeout,
  allScriptsTimeout: allScriptsTimeout,
  customerCode:customerCode,
  useAllAngular2AppRoots: true,
  testData:webpackHelper.getTestData(),
  //directConnect: true, // this runs selenium server on the fly and it has faster execution + parallel execution effici

[2018-11-12 18:06] anudeepsinghpatelgithub commented on #4966
@Izhaki I haven't used `onComplete ` so what should i do in that case. below is my protractor.config file

`exports.config={
  framework: 'jasmine2',
  getPageTimeout: pageLoadTimeout,
  allScriptsTimeout: allScriptsTimeout,
  customerCode: customerCode,
  useAllAngular2AppRoots: true,
  testData: webpackHelper.getTestData(),
  //directConnect: true,
  //thisrunsseleniumserverontheflyandithasfaste

[2018-11-12 23:00] cnishina commented on #5017
For the **driverProviderUseExisting** note above:

Added some discussion in a previous PR https://github.com/angular/protractor/pull/4756. This appears to be already accomplished in existing code. I plan to remove these changes and commit them into the selenium4 branch.

As part of this work, removed q.

[2018-11-12 23:26] cnishina opened #5033 "investigate session not ending in test suite."
The culprit launches this test and doesn't close it. http://localhost:8081/ng2/#/async

[2018-11-13 19:41] whyboris commented on #4737
Confirming, if you create a new _Angular 7_ project with `ng new` the `protractor.conf.js` file has this:
[code]

[2018-11-14 06:32] gugvel opened #5040 "browser.actions() not working in firefox browser"
Hi there!

Thanks for submitting an issue to Protractor.

To help us help you better, please do the following before submitting an issue:

1. Review the questions section of [CONTRIBUTING.md](https://github.com/angular/protractor/blob/master/CONTRIBUTING.md#contributing).
2. Make sure you are not asking a usage or debugging question. If you are, use [StackOverflow](http://stackoverflow.com/questio

[2018-11-15 10:28] doppelganger23 opened #5042 "TypeError: "protractor_1.$ is not a function" when using imports in protractor.conf.ts"
Node Version: `10.13.0`
Protractor Version: `5.4.1`
Operating System: `Windows 10 Enterprise v1803`
Protractor configuration file:
[code]
After compiling with
[code]
and running causes this error:
[code]
with stacktrace leading to this compiled code
[code]
(here is original ts code:)
[code]
(MyPageObject  is imported in Steps module this way:)
[code]

If I remove `import Steps from './utils/steps'

[2018-11-15 20:01] cnishina opened #5043 "Create private functions to do error messages in browser.ts"
Discussion and promise to do it in #5034 for the following

(line 655ish)
[code]

and
(line 642ish)
[code]

[2018-11-15 22:25] jkristia opened #5045 "protractor hangs when accessing elementFinder in async / await"
- Node Version: `v8.9.1`
- Protractor Version: `~5.4.0`
- Angular Version: `^6.1.2`
- Browser(s): `Chrome`
- Operating System and Version `Windows 10`

I have a problem where protractor will hang and give a 30s timeout error whenever I try to access any elements. This happens if I enable signalR, or if any http requests are made while the test is running.

The option to prevent the hang is to set

[2018-11-16 06:20] vermin-scripts commented on #392
i am not able to get value or row outside of function

`var trdata;

	 			$$('#tblAdvanceAdjEntry tbody tr').map(function(el)
	 			{
	 				return el.getText().then(function(row1){
	 					return row1;
	 				});

	 			}).then(function(row){

	 					console.log("rows --->"+row.length);
	 					trdata = row.length;

	 					console.log('trdata --'+trdata);
	 					var r = trdata - 2;
	 					element(by.xp

[2018-11-16 06:42] vermin-scripts opened #5046 "i am not able to get value or row outside of function"
[code]

[2018-11-16 10:09] CrispusDH commented on #5046
Could someone close this issue? Please go to `stackoverflow`. It is not an issue of protractor

[2018-11-16 19:44] amod-thakur commented on #159
I sort of discovered a workaround to the mouse hover issue on chrome by accident. If we chain the mouseMove() method twice , it works.

**Code that doesn't work on chrome:**
`browser.actions.mouseMove(element).click().perform();`

**Code with workaround(which works)**
`browser.actions.mouseMove(element).nouseMove(element).click().perform();`

[2018-11-16 20:49] cnishina commented on #5045
Are you using the `SELENIUM_PROMISE_MANAGER: false,` in your configuration file?

[2018-11-16 20:57] cnishina commented on #5046
Hi! This looks like a support question. Please ask your support questions on [StackOverflow](http://stackoverflow.com/questions/tagged/protractor), [Google Group discussion list](https://groups.google.com/forum/?fromgroups#!forum/angular), or [Gitter](https://gitter.im/angular/protractor). For more information please reference https://github.com/angular/protractor/blob/master/CONTRIBUTING.md#quest

[2018-11-16 20:57] #5046 closed

[2018-11-16 21:01] jkristia commented on #5045
No, I'm using the default config.
Should I add this in onPrepare ?
`promise.USE_PROMISE_MANAGER = false
`as described here ? https://stackoverflow.com/questions/46213650/protractor-disable-selenium-promise-manager-in-one-suite

[code]

[2018-11-16 21:07] cnishina commented on #5040
Thank you for your issue. I'm leaning towards this being a geckodriver issue (https://github.com/mozilla/geckodriver/issues) and not a Protractor bug. Here are some debugging questions:

1. Does this work in Chrome? If this does, this is not a Protractor bug and it belongs with geckodriver.
2. Has this work in a previous version of geckodriver / Firefox and recently does not work?
3. Has there bee

[2018-11-19 08:19] jagdheesh-github commented on #4986
@Pringels , but how to use this script inside protractor script. I am using javascript with jasmine framework, not using typescript. how does it really solve the problem i raised in my main post. Protractor guys can implicitly solve this with a small fix in upcoming releases. The problem is straight forward, which is minimum expectation from protractor.

[2018-11-19 10:10] sbrez commented on #4964
Any news on this issue?

[2018-11-19 18:15] sorcalin0x11 commented on #4445
Any solution on this yet? Still stuck on 3.4.0 of IEDriverServer.exe

[2018-11-20 20:37] gforceg commented on #4307
I downgraded to node v6 to get this to work and now I can't run my angular 6 app because node 6 isn't supported in angular 6+. Node 7 is end of life so I'd like to avoid using it and I'm not even sure it would work.

Is there a good work around that I can follow to get a protractor REPL w/o having to run two versions of node?

[2018-11-20 20:44] cnishina commented on #5045
I would also use the `waitForAngularEnabled` method instead of `ignoreSynchronization` property. For the next version of Protractor, we are probably going to remove `ignoreSynchronization`.

Also in your config:

[code]

[2018-11-20 20:57] cnishina commented on #5042
Quick answer...  you should use require since these are global objects and are not built at the time you import.

[code]

[2018-11-20 21:02] cnishina commented on #5040
Closing issue. If you feel like this is still a Protractor error, feel free to open a new one.

[2018-11-20 21:02] #5040 closed

[2018-11-20 21:10] cnishina opened #5049 "When trying to execute a browser.get method, block if there are pending async tasks"
[code]

I forgot to put an await in front of the `.each` method. `.each` awaits a `.map` and executes a function.

### proposed hack

The test passes which is weird. Probably because some of the expects are skipped? Anyway, it goes to the next `it` block and tries to do a `browser.get` call. We could maybe change a state property in browser to show that we are navigating. If there are any `waitFor

[2018-11-20 21:11] doppelganger23 commented on #5042
As I said earlier, if I change importing step module with require all works nice.
Importing browser itself in config is working for me with import (and thats strange).

Because of such inconsistancy it's look more like a bug then like a feature.

[2018-11-20 21:13] cnishina commented on #5049
From conversation with Michael (in reference to runWaitForAngularScript found in browser.ts):

[2018-11-21 14:28] aleics opened #5050 "Can't find elements inside an iframe (IE 11)"
Hello,

I'm not able to find any element inside an iframe with IE11. In Chrome this is working as intended. Also, I've found out that the document body html content can not be retrieved using the `executeScript` function of the `browser`.

Bug report
---

- Node Version: `8.9.4`
- Protractor Version: `5.4.0`
- Angular Version: `4.4.6`
- Browser(s): `IE11`
- Operating System and Version `Windows 8.

[2018-11-21 15:18] jjelev commented on #4865
@zuzusik You are right.
Everyone please check your **/etc/hosts** file. I my **127.0.0.1** rule was being commented.

[2018-11-21 18:44] heathkit opened #5051 "Handle UncaughtPromiseRejection events"
If a webdriver command isn't properly awaited or promise chained and has an error, it'll throw an UncaughtPromiseRejection event. We should catch these events and log an error telling the user that they likely missed an `await` somewhere. Bonus points if we can get a stacktrace to the exact line that wasn't awaited.

[2018-11-21 20:11] aarr0n commented on #4940
Still failing with ChromeDriver 2.44.

[2018-11-22 10:08] sbrez commented on #4177
Any update with this ticket?
Issue still exists on
[code]

[2018-11-23 07:31] NagaRajuAutomation opened #5053 "How to download the file in IE browser using protractor?"
Hi there!

Thanks for submitting an issue to Protractor.

To help us help you better, please do the following before submitting an issue:

1. Review the questions section of [CONTRIBUTING.md](https://github.com/angular/protractor/blob/master/CONTRIBUTING.md#contributing).
2. Make sure you are not asking a usage or debugging question. If you are, use [StackOverflow](http://stackoverflow.com/questio

[2018-11-23 09:51] NagaRajuAutomation commented on #5053
Hi,
I am using protractor for my e2e tests and one of them have to download a file from website.
When my test click on a download link then IE displays a popup and ask whether 'open' or 'save' or 'save as' or 'cancel'.
My question is how to select and click on 'save' button on this modal popup?

[2018-11-23 13:42] Maximaximum opened #5054 "Upgrade to Jasmine 3.3.0"
Feature Request
---

It would be great to upgrade to Jasmine 3.3.0.

There's already an issue https://github.com/angular/protractor/issues/4788 and a PR https://github.com/angular/protractor/pull/4842 to upgrade to 3.1.0, but 3.3.0 has some new features including Expectation.withContext() function, which would be a very useful thing for e2e tests.

[2018-11-23 14:00] tymfear commented on #4788
@Maximaximum same here. Waiting for moving to selenium 4.0 is completed. I think there was some to do item related to jasminewd.

[2018-11-24 08:42] cnishina commented on #5054
I will look into this. I want to use a matching version of Jasmine supported internally as well.

[2018-11-24 18:17] marcus-sa commented on #3889
So.... what's the update on this?

[2018-11-26 10:38] #5015 closed

[2018-11-26 10:57] segurev opened #5055 "Headless chrome issue with custom rootElement"
Bug report
---
### Use case:
- Protractor E2E tests against a local AngularJs (1.5) app
### Background:
- AngularJS app uses custom bootstrapping
### My issue:
- **Test execution works fine in Chrome but not in Headless Chrome**
  - In Headless Chrome there are irregular errors for some tests
    - `Failed: unknown error: Cannot read property '$$testability' of undefined`
    - `Failed: unknown er

[2018-11-26 18:00] sakshingp opened #5057 "Could not use `chromeOptions.prefs.profile.default_content_setting_values.notifications` of chrome browsers with docker"

[2018-11-26 22:54] cnishina commented on #5042
Previously discussed above that this is exactly how this works. The global objects are not created when your config is loaded in the protractor CLI. This does not appear to be a bug but rather how Protractor does things. We have a potential roadmap to fix some of these issues.

So I am closing this issue. Thanks!

[2018-11-26 22:54] #5042 closed

[2018-11-27 23:56] alcfeoh commented on #4913
Having a similar issue. Any workaround found in the meantime?

[2018-11-28 00:40] cnishina commented on #5057
Hi! This looks like a support question. Please ask your support questions on [StackOverflow](http://stackoverflow.com/questions/tagged/protractor), [Google Group discussion list](https://groups.google.com/forum/?fromgroups#!forum/angular), or [Gitter](https://gitter.im/angular/protractor). For more information please reference https://github.com/angular/protractor/blob/master/CONTRIBUTING.md#quest

[2018-11-28 00:40] #5057 closed

[2018-11-28 00:42] cnishina commented on #5055
Per your question, it looks like this only happens on headless? Does it work when the browser is not headless?

[2018-11-28 00:45] cnishina commented on #5053
Hi! This looks like a support question. Please ask your support questions on [StackOverflow](http://stackoverflow.com/questions/tagged/protractor), [Google Group discussion list](https://groups.google.com/forum/?fromgroups#!forum/angular), or [Gitter](https://gitter.im/angular/protractor). For more information please reference https://github.com/angular/protractor/blob/master/CONTRIBUTING.md#quest

[2018-11-28 00:45] #5053 closed

[2018-11-28 00:58] cnishina commented on #5017
@CrispusDH I want to move the spec.js files to TypeScript. It should be pretty easy (will create an example to try it out). Also, I'll create a separate issue to track it.

[2018-11-28 01:01] cnishina opened #5061 "Move lib/framework JavaScript files to TypeScript"
Reference comment: https://github.com/angular/protractor/pull/5059 for file lib/frameworks/debugprint.js

- [ ] lib/frameworks/debugprint.js
- [ ] lib/frameworks/jasmine.js
- [ ] lib/frameworks/mocha.js

[2018-11-28 01:20] cnishina opened #5062 "Move spec JavaScript files to TypeScript"
Placeholder.

[2018-11-28 03:15] nosgnoh commented on #4177
Any update with this ticket?
Issue still exists on
`
 "geckodriver": "^1.12.2",
 "selenium-webdriver": "4.0.0-alpha.1",
 Firefox 63.0.3
`

[2018-11-28 08:45] jwedel commented on #5055
@cnishina Yes, it works in non-headless mode.

[2018-11-28 15:34] yyankowski commented on #4294
I may be mistaken but it looks like such errors  intermittently happen for me wherever there is a usage of ElementArrayFinder in the following way:
`await $$('some-selector').click()`

[2018-11-28 15:40] demisx commented on #4294
@yyankowski Yes, it was my experience as well. I saw this error happening with `$$` more than anything else. Especially, when trying to call a method on the `ElementArrayFinder` returned by `$$`.

[2018-11-28 16:13] rakeshnambiar commented on #612
It's resolved using setFileDetector :)

[2018-11-28 21:37] CrispusDH commented on #326
About what are you talking? Sauce Labs just run what you say. If you have some retry mechanism in your test runner it will re run. I'm not sure that understood your issue

[2018-11-28 22:17] GuyMograbi commented on #326
Ok. did some investigation.

If you add `name` to capabilities - it will appear in saucelabs. This works.

However, protractor's built in support to report failure/success does not work for me.
Protractor calls `updateJob` but it doesn't really reach the sauce implementation.

in `runner.js` I added the following log print

[code]

in `dataProviders/dataProvider.js` I added the following print:

[

[2018-11-29 09:02] cnishina commented on #5033
This appears to be resolved.

[2018-11-29 09:02] #5033 closed

[2018-11-29 09:07] cnishina commented on #5017
There are 2 ~ 3 more issues that remain... so so close. Should be done by tomorrow.

For issue tracking notes, the fix for Travis / Sauce Labs was to update the browser version.

[2018-11-29 09:09] cnishina commented on #4995
Falling behind schedule. Nooooooo! Note to Craig, work faster.

[2018-11-29 10:42] ykcycer commented on #4690
Same here. Windows 10 and Linux aswell, Chromedriver 2.44.609551
Removing "--no-sandbox" is not an option, because [DevToolsActivePort file doesn't exist error](https://stackoverflow.com/questions/50642308/org-openqa-selenium-webdriverexception-unknown-error-devtoolsactiveport-file-d) will appear.

[2018-11-30 00:18] silkcom commented on #4290
We've made a little headway into understanding what's going on with this problem.  We seem to be having the same one.  It appears that upgraded angularjs watcher/digest cycle works a little differently and can enable some infinite digest cycle loops.  We found 1 with a 3rd party we were using, and are investigating the next one.  But basically the watcher was causing a change to the thing being wa

[2018-11-30 01:47] Carmageddon commented on #4960
Thank you! Does it mean assertions array can contain multiple objects? Not sure about this syntax.. seems to be Go structure?

[2018-11-30 06:07] cnishina commented on #5017
Also interactive tests are not needed since we are deleting the element explorer.

[2018-11-30 07:43] FDIM commented on #4290
You can also modify local zone.js file a bit and add console logs where timeout/interval tasks gets patched to see what is calling them. Easy way to do that: 'try{throw new Error("track");}catch(er){console.debug(err);}

[2018-11-30 15:00] segurev commented on #5055
@cnishina:
yes, it only happens with headless. In normal Chrome everything seems fine.

[2018-11-30 17:18] GitSage commented on #4960
This is Typescript. You can read about type annotations in Typescript [here](http://www.tutorialsteacher.com/typescript/type-annotation). `assertions` is an array of objects, each of which has three properties: `passed` (a boolean), `errorMsg` (a string), and `stackTrace` (another string). You can basically read it almost as if it were JSON.

[2018-11-30 21:32] cnishina commented on #5017
With https://github.com/angular/protractor/pull/5069, this should be done.

[2018-12-01 05:46] cnishina commented on #5017
Done!

[2018-12-01 05:46] #5017 closed

[2018-12-01 06:51] cnishina commented on #5061
@CrispusDH Do you want to take a stab at this one? It looks pretty straight forward.

[2018-12-01 13:51] CrispusDH commented on #5061
@cnishina , yep I will grab it :)

[2018-12-04 05:20] maulikpatel890 opened #5077 "Protractor browser.getCurrentUrl() stopped working with latest chrome v70.x"
Hello,

After chrome browser has upgraded to version v70.x, our existing protractor tests are stopped working. The issue happens with below scenario:
1. Click on the button in the application which opens another URL in the new tab of chrome.
2. I am using below to verify if correct URL is opened in the new tab.
                    expect(browser.getCurrentUrl()).toContain("URL abc");
The tests han

[2018-12-04 14:57] filipefmelo commented on #4353
I'm also having some trouble with this and StackOverflow has no answers.

`browser.driver.actions()
	.dragAndDrop(secondMenuItem.getWebElement(), thirdMenuItem.getWebElement())
	.perform();`

The item I'm dragging is stuck to the mouse but never dropped.

[2018-12-04 16:49] vinodkpasi opened #5078 "Firefox on Jenkins node"
I am trying to run protractor script in firefox browser on Jenkins node which is LINUX environment. I am getting below error.

14:57:25] I/launcher - Running 1 instances of WebDriver
[14:57:25] I/hosted - Using the selenium server at http://localhost:4444/wd/hub
[14:57:25] E/launcher - Process unexpectedly closed with status 1
Build info: version: '3.14.0', revision: 'aacccce0', time: '2018-08-02T

[2018-12-05 06:49] krishnaasundaram opened #5079 "Protractor install issue in cmd when the command "npm install -g protractor" is executed in Remote machine"
0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'install',
1 verbose cli   '-g',
1 verbose cli   'protractor' ]
2 info using npm@6.4.1
3 info using node@v11.3.0
4 verbose npm-session 1c7c0c8e0f48b584
5 silly install loadCurrentTree
6 silly install readGlobalPa

[2018-12-05 09:03] devoto13 commented on #5079
@krishnaasundaram have you read the error message you posted in the issue? In particular lines starting from 20?

[2018-12-05 11:01] krishnarajan119 commented on #5079
It seems like you have intermittent network failure. Check error from 17th line. It says timed out for network request

[2018-12-05 15:24] webbywebb commented on #1143
Is there such a think as a hard browser refresh (Shift-Refresh)?

[2018-12-05 19:10] cnishina commented on #5079
I agree this is a network issue and not Protractor. Closing this. Thanks for everyone's responses.

[2018-12-05 19:20] cnishina commented on #5078
This doesn't seem like a Protractor issue. This should probably be asked on StackOverflow. I'll give you some thoughts:

So you are launching Firefox. When you star the selenium server are you launching it with geckodriver? (You might be asking to start a Firefox in your capabilities and you might have not launched the server with geckodriver).  Are you using Xvfb? Does this work on the Chrome bro

[2018-12-05 19:20] #5078 closed

[2018-12-05 19:49] devoto13 commented on #5077
@cnishina http://chromedriver.chromium.org/downloads claims that 2.44 works with 69-71.

[2018-12-05 22:06] vsravuri opened #5080 "Request to update examples in Protractor API docs for async/await"
Some of the examples provided in Protractor API docs should be updated to include how to use the API methods with async/await.

http://www.protractortest.org/#/api

It will be helpful if async/await examples are provided for below API methods. I use some of the API methods extensively in my code, refactoring the code to make it work with async/await.

- Filter
http://www.protractortest.org/#/api?v

[2018-12-06 10:07] charlene17 commented on #4940
I've got the same issue, too. Rolling back to using ChromeDriver 2.42 works. But not working with ChromeDriver 2.43 +

[2018-12-06 10:22] cnishina commented on #5080
Sure. I'll add this to the list.

[2018-12-06 10:31] devoto13 commented on #5080
I'll work on it.

[2018-12-06 15:57] greyarch opened #5082 "Setting AutoSelectCertificateForUrls for Chrome does not seem to work"
Hi guys,
  I have an issue automatically selecting a client certificate in my tests.
  I am using the Chrome driver (Chrome 70.0) and have the following capabilities config (anonymised) :
[code]
However, the certificate selection box still pops up.
Am I doing something wrong or is this a bug.
I am using Protractor 5.3.0 on MacOS 10.14.1.

[2018-12-07 08:20] RazvanHidan commented on #4195
Do you have an answer or are you with the indications?

[2018-12-07 13:58] vikassarkar commented on #4689
you can set path of chrome and gecko in config
 chromeDriver : '../../drivers/manager/selenium/chromedriver_2.43.exe',
 geckoDriver : '../../drivers/manager/selenium/geckodriver-v0.23.0.exe',

[2018-12-10 21:21] cnishina commented on #5043
I'm not sure if there's a value add here. I would refactor by moving the error message out. It would make it a little more readable; however, this private method would only be used in one location. I am going to close this as a won't fix.

[2018-12-10 21:21] #5043 closed

[2018-12-10 22:54] skAutomation12 commented on #3457
webdriver-manager start --ignore_ssl

Should work.

[2018-12-11 16:05] djom20 opened #5086 "The sendKeys function is clearing the text after to write it"
Hi there!

I'm facing this issue today, it's weird bug since I'm try to send a random text to a input and the text should stay there but it is erased, even sometimes the input is empty. I just used:

[code]

![image](https://user-images.githubusercontent.com/1834808/49812543-a8aefd80-fd33-11e8-94a5-50d5582f5c22.png)
---
![image](https://user-images.githubusercontent.com/1834808/49812562-b19fcf00-f

[2018-12-11 20:33] #4989 closed

[2018-12-11 23:49] cnishina opened #5087 "Use webdriver-manager-replacement"
Until I can publish to Angular, we will remove webdriver-manager for webdriver-manager-replacement. When I have publishing permissions, I'll remove the webdriver-manager-replacement for the beta release.

[2018-12-12 01:34] cnishina commented on #5087
Closed with https://github.com/angular/protractor/pull/5088

[2018-12-12 01:34] #5087 closed

[2018-12-12 09:52] YuriBarssi commented on #4902
+1 here @IgorSasovets @MuraliMolluru
Not sure if this got fixed - seeing the same thing.
Working on a toast element in an Angular page, dynamically added to the page after some successful operation.

Using pure element(by.css('.my-class') does not find it - even with changed (increased showing timing). But using browser.driver.findElement(by.css('.my-class') finds it  (also another hint that the s

[2018-12-12 11:55] YuriBarssi commented on #4902
@IgorSasovets The case is to create a user in an angular page. Once it is saved, it gets rendered in a div container in the page - the notification element is just some set of texts (in paragraphs and headers). It stays there for some seconds and vanishes.

If I increase the time, it still can't find it with element(by.css()) . Even with a reduced time, browser.driver.findElement gets it correctly

[2018-12-12 12:45] IgorSasovets commented on #4902
@YuriBarssi , I meant link to test app with similar behavior as [this one](https://material.angular.io/components/snack-bar/overview). There is button "Show snack-bar" and when you click on it, toast message will appear in the bottom of the page. Try to write test for mentioned flow and please notify about the results. Or provide link to the app with similar to your case behavior.

[2018-12-12 13:36] sakshingp commented on #2626
How to handle app notification (Allow or Block)  android-chrome browser

Tried prefs: {'profile.managed_default_content_settings.notifications': 1}
but it is not working.

Using protractor.
Note: same works in desktop chrome

[2018-12-12 17:12] Enigmaderockz opened #5090 "Protractor doesn't navigate to URL and shows data written in then address bar at random point of execution."
Hello Team,

I have started using protractor recently and it is doing great for angular websites. But I have observed some annoying issues with the protractor:

I have 60 TCs in my project and while running those test cases,

1. sometimes protractor is not able to find elements on a page for a TC but next time protractor can find the same element on the same page for same TC.

**2. The most annoyi

[2018-12-12 22:50] cnishina opened #5092 "Issue with bin/webdriver-manager"
This is probably because the main set in package.json is different than the bin.

[2018-12-13 10:44] cnishina commented on #5054
Tagging this issue as kinda related: https://github.com/jasmine/jasmine/issues/1522

[2018-12-13 16:02] segurev commented on #5055
@cnishina
We would really appreciate help with that one. Do you need any more information?

[2018-12-14 08:47] segurev commented on #5055
@cnishina
We would really appreciate help with that one. Do you need any more information?

[2018-12-14 10:17] YuriBarssi commented on #4902
@IgorSasovets I have other tests running for the same type of elements and they run well when the element does not have a time to vanish. Also, this particular element shows behind a spinner layer, a slideout and some other elements. So I think this was adding complexity to it.
FYI - I could get around the issue in two ways.
The first was to use `browser.driver.findElement` instead of `element` fr

[2018-12-14 20:33] hermanfransen commented on #2963
I got the same problem, but the solutions provided here did not work for me. If you have time, please have a look to my question on Stack Overflow. The problem can easily be reproduced and I have a repo. I guess it is possible a bug.
https://stackoverflow.com/questions/53786401/error-debugging-protractor-with-node-8-async-await-and-angular-6

[2018-12-14 20:44] hermanfransen commented on #4697
I got the same problem, but the solutions provided here did not work for me. If you have time, please have a look to my question on Stack Overflow. The problem can easily be reproduced and I have a repo.
https://stackoverflow.com/questions/53786401/error-debugging-protractor-with-node-8-async-await-and-angular-6

[2018-12-15 07:16] yashwp commented on #4307
I'm having the same error in the console. I'm following these instructions given here
https://github.com/angular/protractor/blob/master/docs/debugging.md#enabled-control-flow

but still same error is coming 👎

[2018-12-17 03:16] sergioalen commented on #4940
My issue was that before the update, I was clearing an input with `clear()` then entering a new value which with the new update `clear()` now focuses out the input field for some reason, triggering the `unblur` function. To stop this from happening I created a helper function to delete the values on the input field using backspace before entering the new value without focusing out the input field:

[2018-12-17 14:28] GhadeerHaddad90 opened #5096 "E/launcher - Error: ReferenceError: window is not defined when running the protractor.conf.js file"
Hi there!

I am facing an issue while performing end to end testing with Protractor using Angular 5.

I am getting error E/launcher - Error: ReferenceError: window is not defined when running the protractor.conf.js file with error code 100
protractor version: 5.4.1

Bug report
---

 E/launcher - Error: ReferenceError: window is not defined
    at C:\Users\Ghadeer.Haddad\Documents\g2g-us-web\node_m

[2018-12-17 20:42] disophisis commented on #4706
@awarecan Has this workaround been integrated as a fix in any version of selenium webdriver?  Or are there plans to do so?

[2018-12-17 21:06] awarecan commented on #4706
@disophisis the [2nd patch](https://github.com/SeleniumHQ/selenium/pull/5759) just got merged few days ago. Don't know when it will be released. No update for the first patch.

[2018-12-17 21:52] cnishina commented on #5051
Actually was able to reproduce this in https://github.com/angular/protractor/pull/5095 and have a better message set.

[2018-12-17 21:54] cnishina commented on #5054
I changed the title of the PR. I think this is the step in the right direction to getting us to 3.3

[2018-12-17 21:55] cnishina commented on #5092
Closed with https://github.com/angular/protractor/pull/5093

[2018-12-17 21:55] #5092 closed

[2018-12-17 21:55] cnishina commented on #5031
PR fix https://github.com/angular/protractor/pull/5085

[2018-12-17 23:13] cnishina commented on #5028
So we could rewrite every WebElement method that we want to expose...

So we could call

[code]

Doing so would also require us to depart from extending typings from WebElement. As is, it seems acceptable but really ideal.

[2018-12-17 23:19] cnishina commented on #5086
This appears to be more of a StackOverflow question but since you have such great pictures... could you provide what's happening right before? Also your config (partial config is fine) and if this is an Angular or AngularJS application. Also are you using async await...

[2018-12-17 23:21] cnishina commented on #5090
It is difficult to help without more information.  Please ask your support questions on [StackOverflow](http://stackoverflow.com/questions/tagged/protractor), [Google Group discussion list](https://groups.google.com/forum/?fromgroups#!forum/angular), or [Gitter](https://gitter.im/angular/protractor). For more information please reference https://github.com/angular/protractor/blob/master/CONTRIBUTI

[2018-12-17 23:21] #5090 closed

[2018-12-17 23:22] cnishina commented on #5096
I am not sure. I have no context of how window is used or what's going on. Please ask your support questions on [StackOverflow](http://stackoverflow.com/questions/tagged/protractor), [Google Group discussion list](https://groups.google.com/forum/?fromgroups#!forum/angular), or [Gitter](https://gitter.im/angular/protractor). For more information please reference https://github.com/angular/protracto

[2018-12-17 23:22] #5096 closed

[2018-12-17 23:42] cnishina commented on #5080
Closed with https://github.com/angular/protractor/pull/5081

[2018-12-17 23:42] #5080 closed

[2018-12-18 02:56] Enigmaderockz commented on #5090
thast's fine but Haven't you come across these kind of issues like inconsistency or above issues?

[2018-12-18 06:33] luninroman opened #5098 "How to consider page as fully loaded (async/await approach)"
Hi there! So I just started work on protractor tests and I'm facing the following problem - my tests fail inconsistently. Sometimes the test may pass and the next time it fails. Reasons to fail is very different, it may because it failed to find an element on a page or element does not have text in it (even if it has).

    I created a few question on stackoverflow and people start saying that thi

[2018-12-18 06:59] #4769 closed

[2018-12-18 12:19] srghma opened #5099 "browser.debugger() is not working"
Bug report
---

- Node Version: `v10.14.2`
- Protractor Version: `5.4.1`
- Angular Version: `NO ANGULAR`
- Browser(s): `chrome`
- Operating System and Version `linux in docker container elgalu/selenium`
- Your protractor configuration file

[code]

- A relevant example test

[code]

- Output from running the test

[code]

- Steps to reproduce the bug

1. add `browser.debugger()`
2. `protractor deb

[2018-12-18 14:53] aleics commented on #5050
Hi @cnishina ,

Yes, in Chrome it works.

[2018-12-18 16:57] PratapSingh09 opened #5100 "Not able to start webdriver- manager from gitlab error "eleniumProcess.pid: undefined W/start - Selenium Standalone server encountered an error: Error: spawn Javascript ENOENT""
Hi All,
I am facing same issue while running my gitlab.yml file error:
/usr/local/lib/node_modules/protractor/node_modules/webdriver-manager/selenium/selenium-server-standalone-3.141.59.jar -port 4444
[15:17:51] I/start - seleniumProcess.pid: undefined
[15:17:51] W/start - Selenium Standalone server encountered an error: Error: spawn Javascript ENOENT
$ npm run build
which is failing my webdriver

[2018-12-18 20:56] hermanfransen commented on #4589
This didn't work for me, in two steps it did:

browser.actions().mouseMove(nextButton).perform();
browser.actions().click().perform();

[2018-12-19 02:12] cnishina commented on #5062
Woo hoo! Thanks for volunteering!

This is going to not make this milestone since it was more of a wishlist type item. I am thinking we could be split between several of us: you, me, and @CrispusDH. I'll do something similar to https://github.com/angular/protractor/issues/5017 where we have a list of test cases that need to be migrated.

I also want to have a PR that is a sample commit.... so let

[2018-12-19 02:15] cnishina commented on #5099
Well, I'm not surprised this is not working. The repl and debugger were very experimental and will go away (deprecated due to control flow) in the next release of Protractor. I would check out our ng-conf vid where we discuss deubgging using `node --inspect-brk ./node_modules/.bin/protractor`. https://www.youtube.com/watch?v=6aPfHrSl0Qk&t=976s

Closing this as won't fix.

[2018-12-19 02:15] #5099 closed

[2018-12-19 07:31] luninroman commented on #5098
I did ask on stackoverflow but no one knows an aswer, I should beg for help or what?

[2018-12-19 08:44] cnishina commented on #5054
Could this fix https://github.com/angular/protractor/issues/3234 ? I have no idea.... fingers crossed. I have two days and a dream to get this done.

[2018-12-19 11:36] IgorSasovets commented on #5062
@cnishina , I'd also help to deal with it if needed.

[2018-12-19 12:08] pittgoose commented on #5062
@cnishina Great! I'll keep an eye out for word from you.

[2018-12-19 22:56] #5031 closed

[2018-12-19 22:56] cnishina commented on #5028
Closing this as won't fix. This doesn't make sense.

[2018-12-19 22:56] #5028 closed

[2018-12-19 22:59] cnishina commented on #5061
@CrispusDH Could you also take on the setupAfterEach and mocha?

[2018-12-19 23:00] cnishina commented on #5051
[code]

config:

[code]

Might be worth investigating before closing this issue.

[2018-12-19 23:03] CrispusDH commented on #5061
@cnishina , yep. I think it will be done before NY )

[2018-12-20 16:19] nmehta6 commented on #4290
@vikerman Do you have any update on this? It would be great if you could provide your opinion on how soon this will be fixed? Thanks.

[2018-12-20 21:04] cnishina commented on #5054
Closed with https://github.com/angular/protractor/pull/5102

[2018-12-20 21:04] #5054 closed

[2018-12-20 21:05] cnishina commented on #3234
Going to say I might have fixed it with https://github.com/angular/protractor/pull/5102. Does upgrading to 3.3.0 resolve some of these issues? If so, I would like to also close this.

[2018-12-21 07:31] Maximaximum commented on #5054
Cool, thank you!
Looking forward to the new protractor release supporting Jasmine 3.3.0!

[2018-12-21 09:03] samuelkilada opened #5103 "data:text/html,<html></html>"
This is a very difficult issue to reproduce. Running protractor 5.4.1, and Chrome Version 71.0.3578.98 (Official Build) (64-bit).

When the tests are running (NOT in headless mode, they work fine in that mode), all of a sudden the test browser and the tests stop completely and the URL of the page in the browser is "data:text/html,<html></html>". It just hangs at this point. If I press enter on the

[2018-12-21 09:48] samuelkilada opened #5104 "input.clear() breaks further input using sendKeys()"
Running protractor 5.4.1, and Chrome Version 71.0.3578.98 (Official Build) (64-bit).

The tests used to pass no problem, but now the very same code is failing. I believe this is due to a Chrome or protractor update (probably Chrome). If you target an input and clear it, it won't let you sendKeys after the clear.

Example:

var inputElement = element(by.id('firstName'));
inputElement .clear().sendK

[2018-12-21 10:56] EberhardSchneider commented on #4964
Same here. Anything new?

[2018-12-21 14:19] greyarch commented on #5082
Thanks, I'll create an issue there.

[2018-12-21 14:19] #5082 closed

[2018-12-22 14:06] daniell0gda commented on #1190
"Windows as an environment to launch & use this package is unfortunately not yet supported."

[2018-12-23 00:02] cnishina commented on #5061
Take your time. I'm off for the holidays and won't check back in till 2019.

[2018-12-24 20:05] ernestoaparicio commented on #4307
So is this the end for browser.pause() / browser.debugger().  Appears we should be moving away from control flow and using node debugger.
https://github.com/angular/protractor/blob/master/docs/debugging.md

[2018-12-25 01:36] upen54 opened #5105 "SSL issue with angular 7 pages using e2e"
Hi there!

Thanks for submitting an issue to Protractor.

To help us help you better, please do the following before submitting an issue:

1. Review the questions section of [CONTRIBUTING.md](https://github.com/angular/protractor/blob/master/CONTRIBUTING.md#contributing).
2. Make sure you are not asking a usage or debugging question. If you are, use [StackOverflow](http://stackoverflow.com/questio

[2018-12-25 01:46] #5105 closed

[2018-12-25 01:58] upen54 commented on #5105
angular 6 in package.json using "e2e": "sudo ng e2e --host=local.XXX.XXX.com --port=443 --disable-host-check --ssl", I can able to run e2e test but same can't  with angular 7 how ever i can see any argument in angular 7 cli e2e. which is causing the issue to open local app with https mode, so how to accept SSL

[2018-12-25 09:13] Abacist commented on #5103
I also encountered this issue. I can't reproduce it manually. I could only find the issue in my automation by video recording.

[2018-12-26 09:30] cnishina commented on #5103
I wonder if this has something to do with the bootstrap process. This is important for AngularJS applications. Probably the async execute is not returning? Unfortunately, I do not have bandwidth to investigate this issue.

[2018-12-26 09:39] cnishina commented on #5104
This is a support question and please try to ask this question on StackOverflow. I'm going to close it but I would try the following...

Can you try to move your tests off of the control flow and use async / await? Could you also break up your chained actions to two separate lines?
[code]

Now that we've separated it into two lines, could we also add in a timeout? Maybe your input box takes a whil

[2018-12-26 09:39] #5104 closed

[2018-12-26 09:40] cnishina commented on #5086
Closing since this issue has not changed. Please ask this on StackOverflow.

[2018-12-26 09:40] #5086 closed

[2018-12-26 22:07] nsrikanth456 opened #5107 "Jamine timout"
I am working behind the proxy.. For my use I added ''Proxy Auto Auth'' exception in the conf.js file
After adding that i am getting the error (Jasmine timout). Even i increase the time it waiting and finally giving the same error.. Please help to solve

[2018-12-26 22:31] nsrikanth456 commented on #5107
Ok, Thanks Crispus DH

[2018-12-27 07:03] cnishina commented on #5107
Hi! This looks like a support question. Please ask your support questions on [StackOverflow](http://stackoverflow.com/questions/tagged/protractor), [Google Group discussion list](https://groups.google.com/forum/?fromgroups#!forum/angular), or [Gitter](https://gitter.im/angular/protractor). For more information please reference https://github.com/angular/protractor/blob/master/CONTRIBUTING.md#quest

[2018-12-27 07:03] #5107 closed

[2018-12-27 13:30] jdstaerk commented on #5103
Maybe there is a XHR request still "pending" in the background? You can check that out by opening the Chrome Dev Tools -> Network Tab and see if there is a request marked as "pending" when you encounter the error. Note that you'll have to open the dev tools **before** the error shows up.

[2018-12-27 18:52] srghma commented on #5099
Thankyou @cnishina

Was able to setup development environment where I can execute selenium actions in chrome devtools (interactively)

1. write example test with debugger breakpoint in the middle

[code]
2. run protractor in inspect mode

[code]

3. go to chrome://inspect/#devices and click inspect link to launch chrome devtools

![2018-12-27-20 30 29-screenshot](https://user-images.githubusercont

[2018-12-28 06:43] lubna-shaikh commented on #4987
@cambiph - Thanks! That worked.
@IgorSasovets  - The error is resolved. Do you still need the preceding test files you mentioned above?

[2018-12-28 08:05] IgorSasovets commented on #4987
@lubna-shaikh , no, I don't. Then please close this issue.

[2018-12-28 11:07] ihba02 opened #5109 "Error: Error while waiting for Protractor to sync with the page: "both angularJS testability and angular testability are undefined. This could be either because this is a non-angular page or because your test involves client-side navigation, which can interfere with Protractor's bootstrapping"
Hi there!

Thanks for submitting an issue to Protractor.

To help us help you better, please do the following before submitting an issue:

1. Review the questions section of [CONTRIBUTING.md](https://github.com/angular/protractor/blob/master/CONTRIBUTING.md#contributing).
2. Make sure you are not asking a usage or debugging question. If you are, use [StackOverflow](http://stackoverflow.com/questio

[2018-12-28 16:35] Xotabu4 commented on #4605
@srghma
It does not work because this feature is not implemented :)
This issue is only feature request

[2018-12-28 20:05] cnishina commented on #5109
Please provide repo steps, configuration file, console log etc. Simplying providing an error message is not helpful.

[2018-12-28 20:57] cnishina commented on #5109
Hi! This looks like a support question. Please ask your support questions on [StackOverflow](http://stackoverflow.com/questions/tagged/protractor), [Google Group discussion list](https://groups.google.com/forum/?fromgroups#!forum/angular), or [Gitter](https://gitter.im/angular/protractor). For more information please reference https://github.com/angular/protractor/blob/master/CONTRIBUTING.md#quest

[2018-12-28 20:57] #5109 closed

[2018-12-28 22:58] Jayasankar-m opened #5112 "Additional window comesup and closes after the tests are done"
An additional window comesup and closes after  all the protractor tests are complete.
if 'sharding' is enabled, an additional window for each instance comes up and closes.

-using _mocha_ bdd
-_restartBrowserBetweenTests_ is set as true

**Please find the sample files** [here](https://github.com/Jayasankar-m/sampleprotractortest)

Bug report
---

- Node Version: `v8.11.2`
- Protractor Version: `Ve

[2019-01-02 14:19] simonua commented on #5062
If there's a first-come, first-serve list of items to choose from, I might be able to contribute time and commits as well.

[2019-01-03 10:45] maurycyg commented on #4290
Where would you put that code to track the timeouts/intervals?

[2019-01-03 11:12] FDIM commented on #4290
@maurycyg [patchTimer -> patchMethod](https://github.com/angular/zone.js/blob/master/dist/zone.js#L2126) function should do the trick

[2019-01-03 18:57] cnishina commented on #5062
This is really exciting! Thank you everyone for your interest. Before we all jump on this.... let me come up with an example PR (I will have time on Friday)... It looks like we have 4 people. We'll divide up the work so we do not have duplicate PRs.

[2019-01-03 18:58] simonua commented on #5062
Thanks a ton for all your work on protractor, @cnishina!

[2019-01-03 18:59] cnishina commented on #4995
Closing this issue as done. The clean up efforts are being tracked in other issues.

[2019-01-03 18:59] #4995 closed

[2019-01-04 11:17] #4870 closed

[2019-01-04 11:20] wlsf82 commented on #4940
I am facing the same issue, and in one specific case, even with chromedriver 2.42, when running the test in headless mode, the clear method does not work, but when running with headless mode Off, then it works.
It may be worth mentioning that I'm testing a React app, which uses `react-final-form` for the forms where I face this issue.

[2019-01-04 14:07] sergiogomes commented on #4976
Hello,

I'm also using VS Code 1.20.1, but on windows, and I started receiving the same message @demisx reported.
I noticed that it started after I imported EventEmitter from Protractor by mistake (I needed to import it form angular core). It doesn't disturb me tho.
It could be a starting point...

[2019-01-04 18:12] oseasmoran73 commented on #4367
@firstor Thank you so much for this! Hopefully this can get integrated soon....

I was hoping to get some assistance from you on this though. While I am able to get the correct value using ::sr as needed, when I do `title.getText()` it seems to get the "incorrect" value. It seems to be coming in as an object. See the following output below:

Expected [ 'Title' ] to be 'Title'.

I have not had succ

[2019-01-04 18:31] arpitaCh opened #5114 "drag and drop operation is failing by using Protractor"
Hi there!

Thanks for submitting an issue to Protractor.

To help us help you better, please do the following before submitting an issue:

1. Review the questions section of [CONTRIBUTING.md](https://github.com/angular/protractor/blob/master/CONTRIBUTING.md#contributing).
2. Make sure you are not asking a usage or debugging question. If you are, use [StackOverflow](http://stackoverflow.com/questio

[2019-01-04 21:16] cnishina commented on #5114
So I'm closing this issue because there's 1) not enough information to debug or understand what's going on and 2) this support question should be asked on [StackOverflow](http://stackoverflow.com/questions/tagged/protractor), [Google Group discussion list](https://groups.google.com/forum/?fromgroups#!forum/angular), or [Gitter](https://gitter.im/angular/protractor).

Last notes on this. This proba

[2019-01-04 21:16] #5114 closed

[2019-01-07 07:58] jdstaerk commented on #5103
Any updates?

[2019-01-07 18:35] AdityaAutomationTechniques opened #5116 "Is it possible to integrate winium driver through protractor? In my scenario i need to interact with windows application which i used to do with winium driver in java."

[2019-01-07 23:58] cnishina commented on #5116
I am going to close this. I do not think there is bandwidth to focus on just Windows. Although this is an interesting feature request, I also do not think that this is the goal of Protractor. Currently we are trying to keep up with the W3C standards.

It sounds like you could just interact directly with winium?

[2019-01-07 23:58] #5116 closed

[2019-01-07 23:59] cnishina commented on #5103
I do not have anything new here. Could it be a Chromedriver Chrome version mismatch? I have not seen this yet.

[2019-01-08 07:35] jdstaerk commented on #5103
So this bug appears very randomly. When the tests are running and a new page is loading / the test is navigating to a new page, the browser / test seems to loading the [reset url](https://github.com/angular/protractor/blob/5d29112fdea74ce4e5edb324b6243fdb07ca8229/lib/browser.ts#L22) and just stops executing. The tests do not abort.
I couldn't manage to find the exact problem. As I said, it is very

[2019-01-08 17:55] yashwp opened #5117 "The 'files' list in config file 'tsconfig.json' is empty. Error is coming"
I've got a large scale angular 5.2 application in which I now want to implement e2e tests using the protractor. But when I'm running `ng e2e -s false` command. it is throwing an error as follows:

[code]
Also, I have opened this [question ](https://stackoverflow.com/questions/54072781/protractor-the-files-list-in-config-file-tsconfig-json-is-empty-18002)on stackoverflow, but no luck with the solut

[2019-01-09 01:01] ariskay commented on #4307
Using NVM to switch to node version 7.10.1 fixed the browser.pause() issue for me.

[2019-01-09 01:37] cnishina commented on #5117
Since this does appear to be a support question, I am going to close it.

[2019-01-09 01:37] #5117 closed

[2019-01-09 05:38] yashwp commented on #5117
@cnishina If you are gonna close this instead of helping, then whom I'm gonna ask?

P.S. `-s false` means don't serve the application in `ng e2e`, an the application is already being served

[2019-01-09 20:33] ZachRHale opened #5118 "Running 'ng e2e' on Angular 7 can't find element with dynamic one-way bound [id] attribute"
Bug report
---

- Node Version: `10.4.1`
- Protractor Version: `5.4.2`
- Angular Version: `7.1.4`
- Browser(s): `Chrome`
- Operating System and Version `Microsoft Windows 10 Pro - Version	10.0.17134 Build 17134`
- Your protractor configuration file
[code]
- A relevant example test
`https://stackblitz.com/edit/protractor-bug-example`
- Output from running the test
[code]
- Steps to reproduce the bu

[2019-01-09 20:46] ZachRHale commented on #5118
As my example shows, the test "should find the app-summary ID" when nested inside of a component will fail to find the id but the test "should find the ID in app component" that is in the root component doesn't fail.  They use the same base classes, functions, properties, etc.

[2019-01-10 05:54] cnishina commented on #5118
So I'm not sure why you are finding something with `[id="\31 23-456-789"]`. I'm looking at your example and your id is "123-345-789". This kind of question might be better to ask this on [StackOverflow](http://stackoverflow.com/questions/tagged/protractor).

I'm going to take a quick guess since I don't have the actual spec file:

[code]

[2019-01-10 05:54] #5118 closed

[2019-01-10 16:55] ZachRHale commented on #5118
@cnishina Will do. My spec file was in the stackblitz project (https://stackblitz.com/edit/protractor-bug-example) but this is all I was doing.

[code]
[code]

[2019-01-10 18:15] ZachRHale commented on #5118
Not sure why `by.id('123-456-789')` doesn't work in this case but `by.css('[id="123-456-789"]')` works.

[2019-01-11 13:31] stefanLeo commented on #4822
@uinest : Did you find any solution for your problem?
I am searching for the exact same: I do not want the user to select the to be shared screen in this Chrome PopUp - I just want the current chrome tab to be shared.

[2019-01-11 14:00] EberhardSchneider commented on #4325
I have the same issues as OP. The first IE test fails in approximately every second test run.
The changes proposed in the first post fix the issues for me locally.
Is somebody still on this?

[2019-01-11 14:01] Ievgen777 commented on #4767
I have the same errors. How fix it?

[2019-01-11 18:46] bboycs opened #5119 "special key change to its keyboard number with sendkey"
Bug report
---

- Node Version: 6.4.1
- Protractor Version: 5.4.1
- Browser(s): MicrosoftEdge
- Operating System and Version Window 10

--

element.sendkey('*')  will result 8
element.sendkey('@') will result 2
however in other browser it works fine

Kindly direct me to correct party if it is non protractor issue

Thanks

[2019-01-11 18:50] bboycs commented on #5050
I am using this workaround in IE11

   let script = `
            var callback = arguments[arguments.length - 1];
            callback( document.getElementsByTagName("iframe")[0].contentWindow.document.querySelector('#root').innerHTML );
            `;
            return browser.executeAsyncScript(script)

not sure whether it help for your case

[2019-01-11 20:56] CrispusDH commented on #5119
`Protractor Version: 4.0.0-alpha.1` it is not Protractor version. You typed `selenium-webdriver` version. Currently, such version does not support by protractor.
This support question might be better to ask on [StackOverflow](http://stackoverflow.com).

[2019-01-13 15:05] CrispusDH commented on #5061
@cnishina I have referenced last two PRs

[2019-01-14 09:52] Prabha83 opened #5120 "Show step name while execute"
Bug report
---

- Node Version: `8.11.1`
- Protractor Version: `5.4.0`
- Angular Version: `6.1.0`
- Browser(s): `Chrome`
- Operating System and Version `Windows 10`

1#: While I run e2e, it does not show the step name and it does show only dots. Is there a way to change config to show step names instead of dots. It helps to identify the failed steps quickly and fix it.

[2019-01-14 10:31] CrispusDH commented on #5120
It depends on your test runner and reporter, not on protractor

[2019-01-14 22:02] Prabha83 commented on #5120
I could not get you. I run e2e scripts through protractor (npm run e2e). Could you explain how to show scenario name while execute e2e.

[2019-01-15 01:01] cnishina commented on #5120
Yes, this depends on your jasmine reporter. You could override some of the reporting functions but this is not an issue with Protractor. This is a support question and please ask it on [StackOverflow](http://stackoverflow.com/questions/tagged/protractor). You should maybe ask about the Jasmine Reporter or Jasmine Console Reporter and Protractor plugin hooks.

[2019-01-15 01:01] #5120 closed

[2019-01-15 20:53] bdbrown4 commented on #4875
Having the same issue still, any updates?

[2019-01-17 10:42] #4920 closed

[2019-01-18 12:48] antgel commented on #5015
@GYuriy Hi, what was the issue in the end? We see this error as well.

[2019-01-22 13:28] papushe opened #5123 "nfig list"
Hi there!

Thanks for submitting an issue to Protractor.

To help us help you better, please do the following before submitting an issue:

1. Review the questions section of [CONTRIBUTING.md](https://github.com/angular/protractor/blob/master/CONTRIBUTING.md#contributing).
2. Make sure you are not asking a usage or debugging question. If you are, use [StackOverflow](http://stackoverflow.com/questio

[2019-01-22 13:28] #5123 closed, assigned to nobody

[2019-01-22 17:20] cooleiwhistles commented on #4689
I am also facing a similar issue. Have tried using directConnect and specifying the geckoDriver path, but no luck.

If I have directConnect = true - I am getting issues like:
`Failed: POST /session/f836d4a1-b6d5-436f-bb02-631140333e51/element/95ac89df-5937-433d-bcb9-e00ba59a8c4c/submit did not match a known command`

When set to false, it works locally, but am presented with error trying to run in

[2019-01-22 17:44] avieiravalle opened #5124 "browser.pause"
Encountered browser.pause(). Attaching debugger...
[15:41:49] I/protractor -
[15:41:49] I/protractor - ------- WebDriver Debugger -------
[15:41:49] I/protractor - Starting WebDriver debugger in a child process. Pause is still beta, please report issues at github.com/angular/protractor
[15:41:49] I/protractor -
[15:41:49] I/protractor - press c to continue to the next webdriver command
[15:41:49]

[2019-01-22 19:02] cooleiwhistles commented on #4689
So that works locally, but when I try to run our suite in Jenkins, I am still getting similar errors:
(not exactly sure why it is giving chromedriver info when running with firefox/geckodriver either)

[code]

[2019-01-22 20:09] CrispusDH commented on #4689
1. I suggest to create two config files: one for local run and one for CI. Manage what to run by script commands in a `package.json` for example.
2. You see `chromedriver` in a logs because it runs command `webdriver-manager update`, it's ok. `Using FirefoxDriver directly...` it line shows that system tries to run `Firefox` browser directly. The first command to driver is `create a new session` an

[2019-01-22 20:34] cooleiwhistles commented on #4689
Thanks @CrispusDH,  will do that.

[2019-01-23 08:55] fbutter commented on #5055
@cnishina any news on this one?

[2019-01-23 09:07] Nas3nmann commented on #5055
@cnishina same issue here. Working with normal chrome :(

[2019-01-23 20:32] Jacob-McKay commented on #4578
I'm doing this in an 'actions wrapper':

    await browser.actions().mouseMove(elementToClick).perform();
    await browser.actions().click(elementToClick).perform();

Which is lame sauce because the docs for ActionSequence.click() say:

Trying to move away from control flow as that seems like the recommended approach, this is an obstacle to that.

[2019-01-24 12:57] EnzDev opened #5125 "Browser.get break AngularJS on hybrid Angular/AngularJS app (Without UpgradeModule)"
Bug report
---
- Node Version: `v10.11.0`
- Protractor Version: `5.4.2`
- Angular Version: `AngularJS v1.4.8` & `Angular v7.1.4`
- Browsers: `Any` (Reproduced on Chrome, Firefox and IE)
- OS: `Windows 10 - Version 1803`

When running tests between Angular and Angular**JS** (In my case this is a migration from Angular**JS** to Angular so we have two apps side by side). Protractor will set a flag wh

[2019-01-25 01:16] cnishina commented on #5124
This has always been experimental and will soon be deprecated. The new way of doing this is to use `node --inspect-brk ./node_modules/.bin/protractor` and open `chrome://inspect`

https://youtu.be/6aPfHrSl0Qk?t=994

Closing this as won't fix.

[2019-01-25 01:16] #5124 closed

[2019-01-25 04:18] bboycs opened #5128 "Exclude in multicapabilities is not working"
Bug report
---

Node Version: 6.4.1
Protractor Version: 4.0.0-alpha.1
Browser(s): MicrosoftEdge/IE11/Firefox/Chrome
Operating System and Version Window 10
- Your protractor configuration file:
  suites: {
    component: 'tests/testfolder/*.spec.js',
  },

 multiCapabilities: [
    {
      browserName: 'chrome',
    },
    {
      browserName: 'firefox',
    },
    {
      browserName: 'MicrosoftEd

[2019-01-25 05:08] hieutrandn9889 opened #5129 "sendKeys with multiple keys (CTRL+a) no more working on lastest chrome and driverchrome"
Hi there!
this.uploadFile = function () {

       var uploadPath = path.resolve(__dirname, '../../../resource/Excel_files_XLSX/');
        console.log('---',uploadPath);

**Case1:**
        const elementFind = element(By.xpath(UI_TIME_TABLE_PAGE.UploadInput));
        elementFind.sendKeys(protractor.Key.chord(protractor.Key.CONTROL, "a"));
        browser.actions().sendKeys(protractor.Key.ENTER).p

[2019-01-25 07:02] cnishina commented on #5129
Hi! This looks like a support question. Please ask your support questions on [StackOverflow](http://stackoverflow.com/questions/tagged/protractor), [Google Group discussion list](https://groups.google.com/forum/?fromgroups#!forum/angular), or [Gitter](https://gitter.im/angular/protractor). For more information please reference https://github.com/angular/protractor/blob/master/CONTRIBUTING.md#quest

[2019-01-25 07:02] #5129 closed

[2019-01-25 07:14] #5128 closed

[2019-01-25 07:15] cnishina opened #5130 "Documentation improvement for config.ts"
This is wrong and needs some updates. exclude, specs, maxInstances, shardTestFiles, count, seleniumAddress are not capabilities.

https://github.com/angular/protractor/blob/master/lib/config.ts#L300-L322

Please submit PR's to the selenium4 branch.

Related: https://github.com/angular/protractor/issues/5128

[2019-01-25 08:39] yashwp opened #5132 "Firefox Timed out waiting for the WebDriver server at http://127.0.0.1:51759/hub"
When I running `ng e2e -s false` command for my Angular application, the console is throwing the below error

[code]

my **protractor.conf.ts**

[code]
I don't what's wrong. Firefox version `v64.x`

[2019-01-25 09:48] avieiravalle commented on #5124
Good day.

With me this don't work...

describe('', () => {
    const google = new Google();

    it('', () => {
        Util.Hello();
        google.Pesquisa.sendKeys('Ford');
        debugger;

        google.Enter.submit();
        expect(google.Ford.isPresent()).toBe(true);

        Util.OiMUndo();

    });
});

On Thu, Jan 24, 2019 at 11:16 PM Craig Nishina <notifications@github.com>
wrote:

[2019-01-25 10:30] EnzDev commented on #5125
@cnishina The PR is up and ready ! #5131

[2019-01-25 14:02] tfaron opened #5133 "seleniumSessionId fails with Firefox on GET /session"
---

- Node Version: `nodeJs 6.4.1`
- Protractor Version: `5.4.1`
- Angular Version: `6.1.0 but also tried older version`
- Browser(s): `Firefox `64.0.2 but tried older versions as well'
- Operating System and Version `Windows 10`
- Chrome driver: 2.45
- Geckodriver: 0.23.0

I have been running successfully when I use chrome browser along with seleniumSessionId as it's important we keep the browse

[2019-01-25 19:21] cnishina commented on #5132
@yashwp This again, should be added to your StackOverflow question. If your StackOverflow question was closed create a new one again with the sample app we discussed on gitter. Also from reading gitter, it is not reproducible? Also Firefox might not work with directConnect.

Maybe trying the following:

* Does direct connect work with Chrome?
* Can you reproduce this with a selenium server + firef

[2019-01-25 19:22] cnishina commented on #5045
This has been open for a couple of months with no author response. Closing this issue.

[2019-01-25 19:22] #5045 closed

[2019-01-25 19:30] cnishina commented on #4760
We are making a few changes... in the selenium4 branch we have the types (*.d.ts) files added to lib/selenium-webdriver with some of the types we have updated internally. We should probably eventually update DefinitelyTyped.

[2019-01-25 21:05] cnishina commented on #5133
Did you check if the session actually exists? If you navigate to http://127.0.0.1:4444/wd/hub on your browser, do you actually see the session?

[2019-01-25 21:19] tfaron commented on #5133
Yes I create the session from the URL and it exists. Then i use the SessionId and set seleniumSessionId to it. Also if I run the curl command to get all the sessions /SESSIONS it returns them all, and if i run the command to get the session url /SESSION/<id>/url it returns so it seems to be specific to GET

[2019-01-26 04:06] yashwp commented on #5132
@cnishina -s false means don't serve the application, it is already serving in other console instance.

[2019-01-26 18:51] vsravuri commented on #5130
@cnishina

I referred to some of the old issues, questions in stackoverflow and documentation available in PerfectoMobile & Sauce Labs. **shardTestFiles** and **maxInstances** are capabilities.

https://developers.perfectomobile.com/display/PD/Protractor+Parallel+Execution

[2019-01-28 11:01] toniedzwiedz commented on #2735
@NickTomlin I couldn't find any question on Stack Overflow so I've asked one https://stackoverflow.com/q/54400446/1407656

I find it rather unhelpful that attributes get some kind of special treatment. When accessing an attribute, I'm interested in the actual value, not Protractor's best guess at what the `href` value is in context of the current browser session. What's especially surprising is th

[2019-01-28 11:30] think4ideas opened #5134 "Failed: stale element reference: element is not attached to the page document"
Hi there!

Thanks for submitting an issue to Protractor.

To help us help you better, please do the following before submitting an issue:

Bug report
here is my code:

- Node Version: `~10.11.3`
- Protractor Version: `~5.4.0`
- Angular Version: `~6.1.1`
- Browser(s): `chrome`
- Operating System and Version `ubuntu 16.04`
-
protractor file:
exports.config = {
  allScriptsTimeout: 11000,
  specs: ['

[2019-01-28 21:37] cnishina commented on #5134
Hi! This looks like a support question. Please ask your support questions on [StackOverflow](http://stackoverflow.com/questions/tagged/protractor), [Google Group discussion list](https://groups.google.com/forum/?fromgroups#!forum/angular), or [Gitter](https://gitter.im/angular/protractor). For more information please reference https://github.com/angular/protractor/blob/master/CONTRIBUTING.md#quest

[2019-01-28 21:37] #5134 closed

[2019-01-28 21:38] cnishina commented on #5132
I see. So did you try the above? I have some comments that should be addressed.

[2019-01-29 14:33] uinest commented on #4822
@stefanLeo  Unfortunately not yet. I am still waiting.

[2019-01-30 11:47] akshaymondal opened #5135 "expect(greeting.getText()).toEqual('Hello Julie!'); its not working on my local protractor."
Hi there!

Thanks for submitting an issue to Protractor.

To help us help you better, please do the following before submitting an issue:

1. Review the questions section of [CONTRIBUTING.md](https://github.com/angular/protractor/blob/master/CONTRIBUTING.md#contributing).
2. Make sure you are not asking a usage or debugging question. If you are, use [StackOverflow](http://stackoverflow.com/questio

[2019-01-30 13:43] IgorSasovets commented on #5135
Hi, @akshaymondal ! Please provide your config file and relevant example test

[2019-01-30 15:05] andrewchan-clover commented on #4177
Thanks for the contribution on a workaround for this years-long-unsolved issue.  However I couldn't get protractor-firefox-support working on FF 64.0.2 with selenium-server 3.4.0 and Protractor 5.4.1.

[2019-01-30 16:18] IgorSasovets commented on #4177
@andrewchan-clover , could you please provide your config file and test example?

[2019-01-30 16:21] ThabisoGithub opened #5136 "Protractor element not found"
Hi Guys i am trying to click on a mat-icon with xpath, css and classname im battling to get it right please assist.

<mat-icon _ngcontent-c2="" class="mat-icon ng-star-inserted" role="img" svgicon="menu-closed" aria-hidden="true"><svg width="100%" height="100%" viewBox="0 0 17 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fit="" preserveAspectRatio

[2019-01-30 16:23] #5136 closed

[2019-01-31 19:00] tfaron commented on #5133
Any chance anyone has gotten Firefox to work with protractor when using seleniumSessionId or is there any more information I should provide.

[2019-01-31 23:20] bdirito opened #5137 "waitForAngular() not working on angularJS -> angular hybrid app"
Bug report
---

- Node Version: `v10.13.0`
- Protractor Version: `5.4.2`
- Angular Version: `1.6.10 & 6.0.1`
- Browser(s): `chrome 70.0.3538.77`
- Operating System and Version `Ubuntu 18.04.1 LTS`
- Your protractor configuration file
[code]
[code]
- A relevant example test
[code]
- Output from running the test
[code]
- Steps to reproduce the bug

The test fails when running browser.waitForAngular(

[2019-02-01 10:37] nayanr9 commented on #4964
Any update or fix for this issue ??

[2019-02-01 10:42] nayanr9 commented on #4964
Do you have any update for this? My suite is not running on Safari
Build info: version: '3.14.0', revision: 'aacccce0', time: '2018-08-02T20:13:22.693Z'
System info: host: 'INC02Q40GKG8WP', ip: 'fe80:0:0:0:c94:4b60:1b53:e9fb%en0', os.name: 'Mac OS X', os.arch: 'x86_64', os.version: '10.14', java.version: '1.8.0_172'
Driver info: driver.version: unknown

Tried the example given in https://github.co

[2019-02-01 11:57] shanlashari commented on #4202
this awaits

[2019-02-01 12:12] marleitao commented on #4202
https://github.com/angular/protractor/pull/4993

[2019-02-01 15:51] dubzzz commented on #3092
any updates?

[2019-02-01 17:47] macedolfm commented on #4447
[Read the Oracle advise (click here)](https://docs.oracle.com/cd/E26180_01/Search.94/ATGSearchAdmin/html/s1207adjustingtcpsettingsforheavyload01.html)

Adjusting TCP Settings for Heavy Load on Windows

The underlying Search architecture that directs searches across multiple physical partitions uses TCP/IP ports and non-blocking NIO SocketChannels to connect to the Search engines. These connections

[2019-02-04 11:23] arayate opened #5138 "NoSuchWindowError: Browsing context has been discarded"
Hello,

I'm trying to run a simple test script using protractor.

Environment:
- Node Version: v9.8.0
- Protractor Version: 5.4.1
- Angular Version: 1.x
- Browser(s): Mozilla Firefox 60.1.0
- Operating System and Version: HELiOS release 6.10

Here's my protractor config file.
[code]

This is my test script (todo-spec.js)

[code]

This is my `node_modules/protractor/node_modules/webdriver-manager/s

[2019-02-04 21:24] bdirito commented on #5137
After digging into the guts of both protractor & angular ive figured it out. It turns out that there was an angular macrotask that was pending (read ngZone wrapped setInterval).

Running the tests manually in fact was NOT working. The callback was indeed triggering however thats because it was actually *erroring*. `document` is not actually a valid first argument for `waitForAngular()`. The defaul

[2019-02-04 21:24] #5137 closed

[2019-02-06 13:06] srghma commented on #1226
[code]

[code]

[2019-02-06 15:57] Jayasankar-m opened #5139 "feat(locators): cssContainingText may include provision for exact match"
Feature Request
---
A provision to match exactly for 'cssContainingText' may be introduced

- Reasons for adopting new feature
Consider the following case
[code]
With element locator as `element(by.cssContainingText('h4', 'Text')) ` it will return `Textarea` element

- Is this a breaking change? (How will this affect existing functionality)
    Not a breaking change as only a flag needs to be adde

[2019-02-07 14:04] AlexanderGuncenko opened #5141 "the source-map-support is an old version, causes [DEP0005] DeprecationWarning: Buffer()"
hey,

please update the "source-map-support": "~0.4.0"  package.
it causes: "[DEP0005] DeprecationWarning: Buffer() is deprecated due to security and usability issues. Please use the Buffer.alloc(), Buffer.allocUnsafe(), or Buffer.from() methods instead."
when used with typescript and its sourcemap Feature.

- node -v v11.9.0
- npm -v 6.5.0
- protractor --version Version 5.4.2

[2019-02-07 16:05] tfaron commented on #5133
@cnishina in the 6.0 beta this seems to be fixed.
For 5.4.1 it looks like the problem is related getNewDriver() as changing these lines work.

getNewDriver() {

		// Jesse changed these 3 lines
		const session = new selenium_webdriver_1.Session(this.config_.seleniumSessionId, null);
		const newDriver = new selenium_webdriver_1.WebDriver(session, executor);

Also is there an ETA on when 6.0.0 is ex

[2019-02-07 16:19] jvitorino commented on #5133
to clarify Tim's post, the change was made manually in attachSession.js

I commented out:
const newDriver = selenium_webdriver_1.WebDriver.attachToSession(executor, this.config_.seleniumSessionId);

and added:
const session = new selenium_webdriver_1.Session(this.config_.seleniumSessionId, new selenium_webdriver_1.Capabilities(this.config_.capabilities));
const newDriver = new selenium_webdriver_1

[2019-02-07 17:27] tfaron opened #5143 "multiple browser.waitForAngularEnabled in a method not working"
Hi there!
---

- Node Version: `10.15.0`
- Protractor Version: `6.0.0-beta`
- Angular Version: `4.3.0`
- Browser(s): `chrome`
- Operating System and Version `Windows 10`

I have methods I call where I was previously ran using multiple ignoreSynchronization but I switch to waitForAngularEnabled from within my test and I get the following output based on the same function below.

[2019-02-07T11:18:4

[2019-02-07 18:19] akarimvnera commented on #4674
Exact same error...what is the fix for this.
Unknown error: Chrome failed to start: exited abnormally,
sql/carepilot-web/node_modules/protractor/node_modules/q/q.js:137:13)
[09:47:20] E/launcher - Process exited with error code 199

[2019-02-07 22:32] EoinGriffin-AI commented on #4177
For anyone who's currently struggling with this issue, I've just learned that the problem can be worked around by using selenium webdriver as an intermediary between protractor and Firefox. Running protractor against Firefox directly won't work, even if you use protractor-firefox-support

[2019-02-08 06:40] arayate commented on #5138
Was able to fix this issue with below configuration.

[code]
Also we need to give path of geckodrvier in protractor conf file.

`geckoDriver: 'node_modules/protractor/node_modules/webdriver-manager/selenium/geckodriver-v0.20.0'`

By default webdriver-manager will download latest version of geckodriver which is 0.24.0. But the needed geckdriver is v0.20.0, so I downloaded this manually and placed i

[2019-02-08 08:21] IgorSasovets commented on #4177
@EoinGriffin-AI , I use `protractor-firefox-support` since last year with latest versions of both Firefox and Chrome browsers and it works as expected. I don't use any intermediaries. Yes, there are cases that can't be handled by `protractor-firefox-support`. Last week I had issue with RMB click because element didn't have right click event handler. But I created one more function for `contextmenu

[2019-02-08 17:28] EoinGriffin-AI commented on #4177
@IgorSasovets That's great that it works for you. I tried it yesterday with the latest protractor-firefox-support and the latest Firefox and it didn't help with the mouseMove() problem I was running into.
What I'm suggesting is that others don't have to skip tests or wait for an update, the can use a selenium webdriver intermediary and get all the same functionality working.

[2019-02-08 18:18] GitSage commented on #5143
You've called `waitForAngularEnabled()` 3 times. You're setting it to `true`, then `false`, then back to `true`. But you're never printing the middle `false`.

Try this:

[code]

[2019-02-08 18:26] GitSage commented on #5139
I'd like this feature too.

Workaround I found was to use `xpath`:

```element(by.xpath('//h4[text()="Text"'))```

This queries for an exact match.

Be warned, "exact match" includes case sensitivity and whitespace. You can use xpath function `transform` to deal with case sensitivity and `normalize-whitespace` for weird whitespace.

[2019-02-08 18:38] tfaron commented on #5143
@GitSage Thanks for the reply.
My understanding from the method doc is calling `browser.waitForAngularEnabled()` with no arguments is that it will just return the current setting. So my intention was to get the current setting, set it to true by passing false and then getting the value again to verify it changes

[2019-02-08 18:48] GitSage commented on #5143
@tfaron ahh you're right, my mistake. In this case I suspect your issue is an asynchronous one. You didn't wait for your middle promise to complete before moving on to the third one.

Try this:

[code]

Alternatively, if you're using Node 8+, you can accomplish the same thing using `async/await`:

[code]

[2019-02-08 18:59] tfaron commented on #5143
Thanks I'll give it a try, appreciate the help.

[2019-02-08 19:59] cnishina commented on #5143
It looks like I can close this. `waitForAngularEnabled` when getting and setting should be awaited. If this is still an issue please feel free to open. @GitSage thank you for your responses.

[2019-02-08 19:59] #5143 closed

[2019-02-08 20:01] cnishina commented on #5141
We are not updating 5.4.2 and it looks like we should update it on selenium4.
https://github.com/angular/protractor/blob/selenium4/package.json#L23

[2019-02-08 21:23] vsravuri opened #5145 "multiCapabilities doesn't invoke parallel instances of WebDriver"
**Bug report**
Using Protractor = 6.0.0-beta, multiCapabilities execute individual captibilities in sequential order rather than running  the capabilities in parallel.

- Node Version: `v10.15.1`
- Protractor Version: `6.0.0-beta`
- Selenium Standalone: `3.141.59`
- Browser(s): `Chrome 72/ Firefox 64`
- Chrome Driver: `2.46`
- Operating System and Version `Mac OS 10.14.2`

**- Your protractor conf

[2019-02-08 21:27] vsravuri commented on #5145
@cnishina

Could you please have a look at this issue? This issue is blocking me from running automation tests using Protractor = 6.0.0-beta branch.

[2019-02-08 21:57] djom20 opened #5146 "Is there any way to preload cache in the browser?"
Hi there!

I'd like to know if is possible preload a setting file with information about the cache or even if I can get the cache from the chrome browser into the tests browser or if exists any way to generate cache into the tests since the tests just run one time.

Thanks a lot for you answers.

[2019-02-11 15:37] petarGitNik opened #5147 "Angular e2e test fail with no apparent reason (timeout)"
Bug report
---

Hi, I have a simple tests, that switches between tabs (made with angular/material). It clicks on a tab, checks a certain condition, and then it switches back and checks again. This test worked OK until recently, it just stopped working. I didn't make any drastic changes except adding d3 to my project (test stopped working when I've made an innocuous commit that calculates pie chart

[2019-02-11 20:50] djom20 commented on #3564
Hi @juliemr, I'd like to know how I can define those globals vars on protractor with typescript, do you have any guide fo that? since right now I'm facing this issue: `[ts] Property 'appId' does not exist on type 'Global'. [2339]`

My code:
`global.appId = null`

[2019-02-12 01:51] Amy-Lynn opened #5148 "Support async protractor config"
Feature Request
---

In `protractor.conf.js`, allow the export to be either a config object (current behavior) or a promise that resolves to the config object.

- Reasons for adopting new feature
I'm running an electron app, so using `Spectron` to launch the app. I can start the app and get a selenium session id, but that's asynchronous. While you can start protractor in a new process and pass in

[2019-02-12 04:54] glemiere opened #5150 "Disabling flow control generates error: "Error while waiting for Protractor to sync with the page: "both angularJS testability and angular testability are undefined.""
Here is my config:
[code]

And here is my simple test:

[code]

This throws me the following error:

[code]

However it works great if I set `SELENIUM_PROMISE_MANAGER` to `true`.

According to the simplicity of this test, this seems to be a bug with protractor itself, am I wrong?

[2019-02-12 05:37] SrinivasLolla commented on #4796
I am observing this issue with Polymer web elements in FF 65.  Can anyone help in getting me out of this .. is the issue reported had been working for someone .. Kindly let me know.

org.openqa.selenium.JavascriptException: Cyclic object value
Build info: version: '3.4.0', revision: 'unknown', time: 'unknown'
System info: host: ' ', ip: '5', os.name: 'Windows 10', os.arch: 'amd64', os.version: '10

[2019-02-12 09:59] CrispusDH commented on #5150
you have to add `.waitForAngularEnabled(false)` in the `onPrepare` property of `protractor.conf`:

[code]

[2019-02-12 15:39] alexkostenko commented on #4970
pbrain19, thanks! I've spent hour trying to figure out what's the problem, it was working and then not working, and then working again, depending on location.

[2019-02-12 17:01] glemiere commented on #5150
@CrispusDH Indeed this makes the error disappear, but if protractor does not wait for Angular then it doesn't find the elements I'm trying to get :/

[2019-02-12 17:54] glemiere commented on #5150
@CrispusDH indeed this makes the error go away, but then protractor does not find the Element b/c it does not wait for Angular. Is this supposed to happen ?

[2019-02-13 03:09] codamadtrek commented on #5103
I am also seeing this issue using Angular 7 on windows with protractor. This is behavior for me. I seem to be getting similar problems in headless mode on unix too.

[2019-02-13 03:26] glemiere opened #5151 "Element.isPresent() script timeout"
Hi!

I have an issue using protractor with jasmine, and I wonder if there is an issue with the framework, or if my limited knowledge of the framework plays against me. I found a [fairly recent StackOverflow question](https://stackoverflow.com/questions/52583161/protractor-inconsistent-results-failed-script-timeout-result-was-not-receive) with four upvotes but no answer so far, which leads me to th

[2019-02-13 04:17] bboycs commented on #4990
Thanks for your hard work.
I saw in the release note mention it will be update with selenium 4? i check with version on selenium and could not find it. Is it a non official selenium 4 ?

[2019-02-13 04:22] bboycs commented on #5119
Reopen the issue.
Edited and updated on the issue description

[2019-02-13 06:26] krthknan commented on #3225
@juliemr _<protractor-dir>/bin/webdriver-manager update_. It doesn't work out for me, it never creates selenium folder inside my project

[2019-02-13 08:13] CrispusDH commented on #5150
You should use explicit waiters before interaction with element. For example before click wait that element is clickable. It might be better to find answer how it implement in Stack Overflow.

[2019-02-13 08:32] nishankkumar1994 commented on #1536
Please make sure to install
`npm install protractor`

Update web driver manager
`webdriver-manager update`

Run this command from your root
`node node_modules\protractor\bin\webdriver-manager update`

Now start up a server with:
`webdriver-manager start`

Also make sure that your protractor.conf.js file has below line
`// baseUrl: 'http://localhost:4200/',`
 ` seleniumAddress: 'http://localhost:44

[2019-02-13 08:32] nishankkumar1994 commented on #4887
Please make sure to install
`npm install protractor`

Update web driver manager
`webdriver-manager update`

Run this command from your root
`node node_modules\protractor\bin\webdriver-manager update`

Now start up a server with:
`webdriver-manager start`

Also make sure that your protractor.conf.js file has below line
`// baseUrl: 'http://localhost:4200/',`
 ` seleniumAddress: 'http://localhost:44

[2019-02-13 08:32] nishankkumar1994 commented on #1826
Please make sure to install
`npm install protractor`

Update web driver manager
`webdriver-manager update`

Run this command from your root
`node node_modules\protractor\bin\webdriver-manager update`

Now start up a server with:
`webdriver-manager start`

Also make sure that your protractor.conf.js file has below line
`// baseUrl: 'http://localhost:4200/',`
 ` seleniumAddress: 'http://localhost:44

[2019-02-13 08:33] nishankkumar1994 commented on #4868
Please make sure to install
`npm install protractor`

Update web driver manager
`webdriver-manager update`

Run this command from your root
`node node_modules\protractor\bin\webdriver-manager update`

Now start up a server with:
`webdriver-manager start`

Also make sure that your protractor.conf.js file has below line
`// baseUrl: 'http://localhost:4200/',`
 ` seleniumAddress: 'http://localhost:44

[2019-02-13 08:35] nishankkumar1994 commented on #381
Please make sure to install
`npm install protractor`

Update web driver manager
`webdriver-manager update`

Run this command from your root
`node node_modules\protractor\bin\webdriver-manager update`

Now start up a server with:
`webdriver-manager start`

Also make sure that your protractor.conf.js file has below line
`// baseUrl: 'http://localhost:4200/',`
 ` seleniumAddress: 'http://localhost:44

[2019-02-13 10:49] dhee0807 opened #5152 "Scripts fail with reason Failed: timeout"
Hi there!

I have around 150 Test scenarios in different feature files, that run every day. All the scenarios run perfectly some days but sometimes, we are seeing Failed: timeout with out any specific reason.

Below is the Protractor config file.

[code]

Below is the error seen after few scenarios passed, from here all the scripts do fail.

stdout:
TimeoutError: timeout
  (Session info: headless

[2019-02-14 15:58] fergardi commented on #2871
I'm dealing with this situation as well.

My app uses sessionStorage to store the user session.

When I pass the login test, and continue to the next spec one, `browser.get(url)` restarts the browser and clears the localStorage an sessionStorage. Then, when landing the new URL, the guard sees the user as not logged in and redirects to the login page again.

I cannot use `browser.setLocation(relati

[2019-02-14 20:33] rahulpatidar0191 commented on #4821
@smathur96  Hi Samarth, did you find a way to do this?

[2019-02-15 09:28] dhee0807 commented on #5152
@juliemr , can you pls look into this and help me out!

[2019-02-15 14:29] StAn187 commented on #5151
I experience more or less the same, I think it's related to `browser.waitForAngularEnabled`

- I need to login on a separate angular 7 app
- once I logged in there I want to test the "main app" that's also using angular 7

If I globally to `browser.waitForAngularEnabled(false)` I can test both apps, but then I always "manually" need to wait until angular was fully loaded.

So I tried to `browser.w

[2019-02-18 15:22] IgorSasovets commented on #5152
Hi, @dhee0807 ! Could you please provide test example? It seems that there could be issue with tests suites.

[2019-02-18 17:17] glemiere commented on #5151
@StAn187 interesting, I solved another error I had by adding `waitForAngularEnabled:false` to my protractor config file to be able to use async/await (as an attempt to fix the issue above), but then I had to add `browser.waitForAngularEnabled(true)` in my test to be able to detect the first elements of my tests.

Unfortunately this did not resolve the issue described above.

I see that you're ment

[2019-02-18 18:20] StAn187 commented on #5151
@glemiere, no I haven't downgraded. It's a huge customer project. I cannot downgrade because protractor cannot handle tests that involve two separate Angular 7 apps :-D

[2019-02-19 15:23] juanlvo opened #5153 "Fail loading file protractor - Failed: script timeout: result was not received in 11 seconds"
I got an error trying to execute a test to upload a file with protractor, my code is this one

[code]

I try to do it with element(by.id('file-upload')).sendKeys(absolutePath); but it doesn't work, then later I try using javascript raw code but it doesn't work either

my error message is this one, using the command "ng e2e"

[code]

the HTML code is this one

`<div _ngcontent-c6="" class="drag-n-d

[2019-02-19 17:16] mr-mateus opened #5154 "Headless and GetCurrentUrl non angular timeout"
Hi, I'm trying to test a external link with a non angular page, and get the url, but I always get a timeout error.
Bug report
---

- Node Version: `v8.10.0`
- Protractor Version: `5.4.2`
- Angular Version: ``6.1.5..
- Browser(s): `chrome`
- Operating System and Version `windows`

- Protractor configuration file
[code]

- Test
[code]
- Output from running the test
[code]

- Steps to reproduce the b

[2019-02-20 10:47] ganqqwerty commented on #3205
Is protractor good only for angular 1? I'm kinda not sure, there's no good documentation about how to use it effectively for angular 2+

[2019-02-20 13:45] njirem opened #5155 "waitForAngular with Angular 2 regression"
Bug report
---
Affected Protractor Version: `5.3.0 - 6.0.0-beta`

The problem is best described in Issue #4543.
This issue was solved in PR #4544. But it seems it was (accidentally?) reverted in PR #4667.

[2019-02-20 14:02] IgorSasovets commented on #5153
Hi, @juanlvo ! Could you please provide link to test application if it's possible? In other case, please prepare test example using publicly available app.

[2019-02-20 14:06] dhee0807 commented on #5152
Hi, @IgorSasovets , we use hiptest framework.

Below is my spec file
`describe('Login', function () {
  beforeEach(function () {
    this.actionwords = Object.create(require('./actionwords.js').Actionwords);
  });

  it('LOGN_01 Verify if the login option present is settings (uid:1)', function () {

    this.actionwords.iLaunchTheApplication();
    // Given I am not Logged in and I am on Home page

[2019-02-21 08:31] ZeekoZhu commented on #5154
Try disable [waitAngular](https://github.com/angular/protractor/blob/master/docs/timeouts.md#how-to-disable-waiting-for-angular)

[2019-02-21 15:55] phanigokaraj opened #5156 "evaluate returns a lot of empty methods instead of a value"
Hi there!

Thanks for submitting an issue to Protractor.

To help us help you better, please do the following before submitting an issue:

1. Review the questions section of [CONTRIBUTING.md](https://github.com/angular/protractor/blob/master/CONTRIBUTING.md#contributing).
2. Make sure you are not asking a usage or debugging question. If you are, use [StackOverflow](http://stackoverflow.com/questio

[2019-02-21 16:20] mr-mateus commented on #5154
@ZeekoZhu I just tried, but didn't work

[2019-02-22 07:18] Ranjithsamalla opened #5157 "Protractor|| webdriver-manager start or update is not recognized"
Hi there!
 I'm not able to recognize protractor in my PC and even web driver-manger start or update cmd also not able to recognized

for above issue i set path in environment variable but still I'm facing same issue could you please help on this how to resolve

I can able to see version names node -v and npm -v but not able to see for protractor etc..

protractor : The term 'protractor' is not rec

[2019-02-22 07:31] samiullah commented on #5157
@Ranjithsamalla  Can u check if protractor is installed in system. Also please share the code snippet which u r writing for tests

[2019-02-22 08:00] IgorSasovets commented on #5152
@dhee0807 , try move `this.actionwords.iLaunchTheApplication();` function call to the `beforeEach` hook.

[2019-02-22 08:02] IgorSasovets commented on #5152
Also, try to run [these](https://github.com/IgorSasovets/protractor-long-load-bug) tests and provide feedback about the results.

[2019-02-22 12:04] oyvigri commented on #4902
is this thread still open?
ok so Im completelly lost atm.

Angular 6, Protractor 5.4.0, Jasmine 2.99.1

The page structure:
`<body>
    <app-root>
        <div class="app-container">
            <app-loader class="global-loader">
            </app-loader>
        </div>
    </app-root>

    <div id="toast-container"></div>
</body>`

The issue:

Load site -> submit login form -> wait for next page

[2019-02-22 13:50] dhee0807 commented on #5152
@IgorSasovets ,

Hi @IgorSasovets , we intentionally kept iLaunchTheApplication in every step as per our requirements as we clear cookies and launch in each test case.
Secondly as a work around I have added browser.refresh() in the same iLaunchTheApplication function to avoid the url blank.

Also I have seen the same tests you provided and I have implemented the same way!

Thanks and appreciate fo

[2019-02-22 18:14] sart0701 opened #5158 "I get errors when i try to run tsc conf.ts"
Hi I am struggling to resolve these errors when trying to do tsc or tsc conf.ts so that i can generate a conf.js file and run protractor test.

* Error:
<>:testTypescript sarthakgupta$ tsc
node_modules/blocking-proxy/built/lib/blockingproxy.d.ts:1:23 - error TS2688: Cannot find
type definition file for 'node'.
1 /// <reference types="node" />
[code]
node_modules/blocking-proxy/built/lib/webdriver_

[2019-02-22 18:23] sart0701 commented on #5158
I tried to do the below after looking at some other posts
npm install @types/node --save
npm install typescript --save-dev
npm install ts-node --save-dev

It starts to work now. But i still don't know why and how? I can see I have also mentioned these dependencies in package.json so they should already be present in node_modules after doing package.json? and thats not happening.

[2019-02-22 23:20] cnishina opened #5159 "Release next 6.0.0-beta by February 28th"
Internally still working on the upgrade but things look good so far. Nothing new will probably change since the upgrade looks pretty good, but I prefer to have a round of dogfooding prior to a full release.

- [ ] Contact cli team and notify of upcoming changes for release 6
- [ ] Release the next increment as 6.0.0-beta2 or 3... whichever number we are on
- [ ] Thinking about another 5 release. I

[2019-02-23 00:21] vsravuri commented on #5145
@cnishina @heathkit @juliemr

Could you please have a look at this issue? I am unable to run my tests with multiCapabilities using 6.0.0-beta build

[2019-02-23 15:53] skullz03 commented on #4966
I am trying to execute the test cases on Selenium GRID. The set up is on a docker container. Everything works fine up until the point of execution. Protractor indefinitely hangs display this:
 **I/launcher - Running 5 instances of WebDriver**

Here is my conf.js. I am using sharedTestFile: True and MaxInstances: 5. Is there something I can do to make this work?

[code]
Any ideas would be helpful?

[2019-02-24 10:51] juanlvo commented on #5153
Hi @IgorSasovets I found the way to make it work
[code]

I reach the conclusion to add the ignoreSynchronization after seeing to many post on stackoverflow about the same issue of timeouts, plus the recomendation of a person in the comments of my post in stackoverflow.

for more details, there is my post on stackoverflow:

https://stackoverflow.com/questions/54712899/fail-loading-file-protractor-f

[2019-02-24 18:48] CrispusDH commented on #5062
@cnishina could you share plans? Several PRs waiting for review. :)

[2019-02-25 06:19] nigiritha commented on #610
You   made such an interesting piece to read, giving every subject enlightenment   for us to gain knowledge. Thanks for sharing the such information with us
--

[https://www.besanttechnologies.com/training-courses/software-testing-training/selenium-training-institute-in-chennai](url)

[2019-02-25 08:35] mangeshkhaire14 opened #5161 "Protractor for React Applications"
Hi,

Can I use Protractor with Jasmine for testing React applications(Widget based application). will it be difficult to maintain protractors test for long run projects?

Thanks,
Mangesh

[2019-02-25 09:47] CrispusDH commented on #5161
You can do it for sure. Just don't wait for Angular add in protractor config  in the `onPrepare` block:
[code]

[2019-02-25 10:10] mangeshkhaire14 commented on #5161
Thank you

[2019-02-25 11:55] CrispusDH commented on #5161
sort of specific question better to ask on Stack Overflow.

[2019-02-26 16:13] phanigokaraj opened #5162 "I am testing a drag and drop functionality, an event triggers right after its done. How can i fetch the data from that event"
Hi there!

Thanks for submitting an issue to Protractor.

To help us help you better, please do the following before submitting an issue:

1. Review the questions section of [CONTRIBUTING.md](https://github.com/angular/protractor/blob/master/CONTRIBUTING.md#contributing).
2. Make sure you are not asking a usage or debugging question. If you are, use [StackOverflow](http://stackoverflow.com/questio

[2019-02-26 16:15] #5156 closed

[2019-02-26 21:10] Jjwatsonjr opened #5163 "r"
Hi there!

Thanks for submitting an issue to Protractor.

To help us help you better, please do the following before submitting an issue:

1. Review the questions section of [CONTRIBUTING.md](https://github.com/angular/protractor/blob/master/CONTRIBUTING.md#contributing).
2. Make sure you are not asking a usage or debugging question. If you are, use [StackOverflow](http://stackoverflow.com/questio

[2019-02-27 04:39] #5161 closed

[2019-02-27 05:24] mangeshkhaire14 opened #5164 "Writing Page Objects in Protractor - Is this Implementation Correct"
Hi,

I have come with this kind of implemention for page objects but i don't know whether this is correct or not but its working file. I am not expert in node js programming but I want to know that will all page elements will be initialised or it will find the elements as an when constructor loads  or will it find when actual operatios on that elements will  be performed. please provide suggestion

[2019-02-27 06:43] jithinkmatthew commented on #5164
@mangeshkhaire14 , Please post questions in [gitter](https://gitter.im/angular/protractor) or [StackOverflow](http://stackoverflow.com)

[2019-02-27 07:08] jithinkmatthew commented on #5158
I faced the same problem. It worked after uninstalling unwanted plugins in `vscode`.
Could you please list down the plugins which you are using?

[2019-02-27 07:21] praveendp526 opened #5165 "implicit time related issue"
Hi Folks,
while selecting elements in between functions i'm facing issue with implicit time,
is there any alternative for browser.sleep()???
i have used browser.manage().timeouts().implicitlyWait(xxxx); inside on prepare() in conf.js
but still it didn't resolved my issue

[2019-02-27 07:33] Ranjithsamalla commented on #5157
Yes, it is installed globally and locally but when I type protractor --version it is showing the above error,

please check the code snippet
describe('angularjs homepage', function() {
  it('should greet the named user', function() {
    browser.get('http://www.angularjs.org');

    element(by.model('yourName')).sendKeys('Julie');

    var greeting = element(by.binding('yourName'));

    expect(gr

[2019-02-27 08:13] SebastianSolidwork opened #5166 "treat multiple elements at elementFinder as error, its flaky test code"
I expect a selector/elementFinder to find one element and not multiples. To me its an error and bad code if an elementFinder finds more than one element. Its an open door for possible misbehaviors.
If i want the current behavior for multiple elements of elementFinder (taking the first one), i should decide and code that by my own.

I see this normal 'warning' just as a normal console output with w

[2019-02-27 08:32] bboycs opened #5167 "FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - JavaScript heap out of memory on 6.0.0-BETA"
Bug report
---

- Node Version: 6.4.1
- Protractor Version: 6.0.0-BETA
- Browser(s): Chrome
- Operating System and Version Win 10

Hi, not sure if anyone face this, but  I am facing a issue where by
FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - JavaScript heap out of memory

Reproduction step:
execute line of code : return return browser.driver.actions().click(elementfinder).perform();
it g

[2019-02-27 08:41] mangeshkhaire14 commented on #5164
@jithinkmatthew  Ok

[2019-02-27 08:41] #5164 closed

[2019-02-27 08:48] MichaRedM commented on #5147
check if you have any pending timeouts or Intervalls in your app.

[2019-02-27 10:44] JonWallsten opened #5168 "Browser logs empty in afterEach, exists in end of test"
Bug Report
---

We're trying to store the browser log after each test case, but when we try to access the log in the afterEach hook the log is already emptied. It just returns an empty array.
When fetching the log in the end of the test case though, it returns the messages.
So there seems to be a race condition or something. Unfortunately I don't have the knowledge to deduct if the error is in Pro

[2019-02-28 23:05] AEIOU-1 commented on #685
i an having an issue - the URL i need to wait for is not static. The  base URL is same but then there are some numbers which is issued randomly .  My question how can i put a wait for specific URL with giving the partial URL .
   Example : baseURL/some_random_number/someStaticText

[2019-03-01 03:19] drajapandian commented on #3092
Seems this package might help for mocking protractor tests in Angular versions >= 2, https://www.npmjs.com/package/ng-apimock

[2019-03-01 04:48] hadanhtoi commented on #175
Hi, i got a problem. Can someome help me !
i want to export file from export button in js page and download file to a directory in my project for testing. But i cant change download default_directory. when i run test, it was downloaded in /Downloads  , not /resource/download/ directory.
This is my protractor-config.js

  directConnect: true,
  multiCapabilities: [{
      browserName: 'firefox',

[2019-03-02 01:56] andreroggeri opened #5169 "Actions doesn't work with SELENIUM_PROMISE_MANAGER"
Bug report
---

The action builder doesn't execute/wait the action chain in the correct order if SELENIUM_PROMISE_MANAGER is set to false.

- Node Version: `10.1.0`
- Protractor Version: `5.4.2`
- Angular Version: `7.0.0`
- Browser(s): `Chrome`
- Operating System and Version `Windows 10`
- Your protractor configuration file
[code]
- A relevant example test
[code]
- Output from running the test
N/A

[2019-03-02 04:50] macroking commented on #5168
Looking at your sample test, it is working as expected only.
Every time you call browser logs, after fetching the array will be empty only. You are fetching the log from the browser inside your test. It fetches all the log messages. When you call the browser logs again it will be null.

[2019-03-02 07:03] JonWallsten commented on #5168
But if I remove the code inside the test case it's still empty in the afterEach hook. And besides they both give me a result in chrome if I'm not running headless. So I think you're wrong.

[2019-03-04 15:43] petarGitNik commented on #5147
@MichaRedM sorry for late reponse. Yes, I have intervals and timeouts in my app, but all of those are set to no more than 1 second. All these should timeout. There is just one place where I'm resetting timeout/interval until window is resized. However, this error appeared before I introduced that change.

[2019-03-04 23:53] cnishina commented on #5167
I'm not sure what the state of the actions API for chromedriver. I'm assuming it all works. The thing that looks wrong to me is you cannot mix ElementFinders and WebElements:
[code]

[2019-03-05 03:04] xiaoxiaofeixiang commented on #2139
Failed: Cannot click on element
    Build info: version: '3.141.59', revision: 'e82be7d358', time: '2018-11-14T08:25:53'
    System info: host: 'DESKTOP-RPOSEHB', ip: '192.168.12.227', os.name: 'Windows 10', os.arch: 'amd64', os.version: '10.0', java.version: '11.0.2'
    Driver info: driver.version: unknown
  Stack:
    MoveTargetOutOfBoundsError: Cannot click on element
    who can help me

[2019-03-05 09:57] dennisheinlein opened #5170 "verboseMultiSessions: true logs messages multiple times"
Bug report
---

- Node Version: `8.11.3`
- Protractor Version: `5.4.0`
- Cucumber Version: `4.2.1`
- Browser(s): `Chrome`
- Operating System and Version `Windows 7`

When setting `verboseMultiSessions` in protractor configuration to `true`, every message is logged multiple times, because when a message is printed all previous messages are printed again.
For us this leads to logfiles which can have

[2019-03-05 10:49] bboycs commented on #5167
Hi, It used to work in current version before BETA6 . Can i take that as software change on for BETA 6?

[2019-03-05 10:50] bboycs commented on #5167
Hi, It used to work in current version before BETA6 . Can i take that as software change on for BETA 6?

[2019-03-05 12:50] stwic commented on #685
@AEIOU-1 I had a similar issue, and here is my solution.

[code]

[2019-03-05 21:04] cnishina commented on #5169
I think mouseMove takes a WebElement and not an ElementFinder. This might have worked via the magic of the control flow.

So maybe:
[code]

[2019-03-05 21:05] cnishina commented on #5159
Well, that did not happen; however, I am almost done moving targets internally. Maybe by the end of the week....

[2019-03-06 00:37] cnishina commented on #5169
Yes this might not be in the typings because of the state of the actions API / current typings. If you have time, feel free to create a PR and @ me on it. Thanks!

[2019-03-06 04:20] rahmansa2010 opened #5171 "browser.actions().sendKeys(protractor.Key.ESCAPE).perform(); not working for chrome, macOS"
Hi there!

Thanks for submitting an issue to Protractor.

Bug report
When trying to use Key Stroke for ESCAPE button in protractor its not dismissing the window (native window to browse hard disc to find file location)

- Node Version: `10.15.0`
- Protractor Version: `5.4.2`
- Angular Version: ``
- Browser(s): `Chrome 72.0`
- Operating System and Version `Mac Os Mojave`
- Your protractor configura

[2019-03-07 09:54] ssudhanshu commented on #4367
Hi @firstor , I am still a newbie in protractor who is trying to enter some text in an input box which is present inside shadow-root DOM. I want to implement your given Workaround code. I copied your above code in a .ts file but getting compilation errors in below lines:
Line1: by.addLocator('css_sr', .......   --> **Error: Cannot find name 'by'.**
Line6. let shadowDomInUse = (document.head.create

[2019-03-07 10:56] espekkaya opened #5172 "Getting error randomly : function timed out, ensure the promise resolves within 180000 milliseconds"
Hello,

We have got an error randomly for 2 weeks. I have not figured it out why. And the biggest problem is once it accrued in some point then the rest of suite got an error as well.

It is so weird because sometime the tests works well but

We use protractor and custom framework is cucumber. We run our suites paralell at the same time.

I have downgraded some libriaries but it have not resolved

[2019-03-07 16:00] maxisam opened #5173 "security vulnerability"
I got a notification from github saying cryptiles has a security vulnerability issue.

https://github.com/maxisam/ngx-clipboard/network/alert/yarn.lock/cryptiles/open

And ask me to upgrade it to 4.1.2

dependency tree is like

protractor -> webdriver-manager ->  request "^2.78.0" -> hawk "~6.0.2" -> cryptiles "3.x.x"

[2019-03-08 11:49] nramprakash88 opened #5175 "Unhandled alert message appear twice with IE Driver"
I get a unhandled alert in my execution with content "Press a button!"

When i run the protractor test scripts in **Chrome browser**, I get the exception message like
unexpected alert open: {Alert text : **Press a button!**}
  (Session info: chrome=72.0.3626.119)
  (Driver info: chromedriver=2.46.628402 (536cd7adbad73a3783fdc2cab92ab2ba7ec361e1),platform=Windows NT 10.0.17134 x86_64)

But when i r

[2019-03-08 21:19] GitSage commented on #5173
Your link gives a 404.

I think all you need to do though is remove your `webdriver-manager` and reinstall it. To make a long story short, hawk is no longer a dependency since `webdriver-manager v.12.1.0` updated its `request` dependency in July 2018.

The Protractor team could make this easier on users by updating protractor's `package.json` from `"webdriver-manager": "^12.0.6"` to `"webdriver-ma

[2019-03-08 21:30] GitSage commented on #5172
This error is coming [from CucumberJS](https://github.com/cucumber/cucumber-js/blob/509e64fd5d9835c9101b33a642e6ccac459025b8/src/user_code_runner.js). Any particular reason you suspect Protractor to be the problem?

Cucumber throws that error when a single step takes longer than its configured timeout to complete. In your case you've configured it to 180000ms = 3 minutes. I don't immediately see a

[2019-03-08 21:41] GitSage commented on #5171
Webdriver does not support the file upload window in any fashion. [You should not click the upload button under any circumstances](https://github.com/SeleniumHQ/selenium/wiki/Frequently-Asked-Questions). If you need to upload a file, you should use `sendKeys()` to send your file path directly to the file upload element.

[2019-03-08 21:43] maxisam commented on #5173
Yeah, that is what I am trying to do here. I want to bring this matter to protractor team's attention, so they can update their package.json instead of everyone update their package.json

[2019-03-09 01:27] andreroggeri commented on #5169
Yeah, that worked, but I'm kinda lost here.

Since the `actions()`  is from the webdriverjs, there is no Angular handling during the action chain, right ?

So whats the proper fix here ? Implement the actions in Protractor or something else ?

[2019-03-09 06:38] espekkaya commented on #5172
Hello GitSage,

Firstly, I suspect protractor because when I added every line to console.log in waitForInvisibilityOf  method. The weird part of it that most case I got an error below line. And also I got promise error on protractor click method as well.

`style = await self.getAttribute('style');`

In our project structure it does not solve wait loading panel using invisibilityof method so we hav

[2019-03-09 16:33] cnishina commented on #5169
This is actually probably a complicated fix. Currently we expose `actions()` from selenium-webdriver. If you wanted it to take an `ElementFinder`, you would have to implement the entire Actions / ActionSequence API and check if it is an ElementFinder or a WebElement and convert ElementFinders to WebElements then pass it the Actions / ActionSequence API.

I think understanding that sometimes Protra

[2019-03-09 16:33] #5169 closed

[2019-03-09 18:55] subrato29 commented on #630
Below is my pageobject:

'use strict';

import Promise from 'promise';

let EC = protractor.ExpectedConditions;

export default class LoginPage extends YCCObject{

	constructor() {
		super();
		this._username = () => {
            return new Promise((resolve, reject) => {
                 element(by.xpath("//input[@type='email']")).isPresent().then((present) => {
                    if (present) {

[2019-03-09 19:02] subrato29 commented on #630
practice shaurosenipalchoudhuri$ protractor conf.js
[14:02:07] I/launcher - Running 1 instances of WebDriver
[14:02:07] I/hosted - Using the selenium server at http://localhost:4444/wd/hub
[14:02:08] E/launcher - Error: /Users/shaurosenipalchoudhuri/protractor/practice/src/specs/ysb-spec.js:6
import LoginPage from '../src/pages/login_page';
       ^^^^^^^^^

SyntaxError: Unexpected identifier

[2019-03-09 19:04] subrato29 commented on #630
Any idea about the error message?
practice shaurosenipalchoudhuri$ protractor conf.js
[14:02:07] I/launcher - Running 1 instances of WebDriver
[14:02:07] I/hosted - Using the selenium server at http://localhost:4444/wd/hub
[14:02:08] E/launcher - Error: /Users/shaurosenipalchoudhuri/protractor/practice/src/specs/ysb-spec.js:6
import LoginPage from '../src/pages/login_page';
       ^^^^^^^^^

Synta

[2019-03-11 13:48] Amy-Lynn opened #5176 "CI Build is failing with no functional changes"
PR that's just updating the docs, no code changes: https://github.com/angular/protractor/pull/5174

Getting the following errors in CircleCI:

[code]

My PR is also failing for the same reasons

[2019-03-11 14:13] espekkaya commented on #5172
Hello,
I have figured it out. Downgraded  nodejs from 11.10 to 10.15 to resolve the problem. For 4 days, I have not got an error.

Maybe someone helps this information.

Regards...

[2019-03-11 14:13] #5172 closed

[2019-03-11 17:14] rakeshnambiar commented on #4819
@J-Swift the StaleElementReferenceError stops the test execution inside the docker container and exiting with `error code 1`, any guess?

[code]

[2019-03-12 09:55] nidhisrireddyattr commented on #3757
Facing the same issue. But it is not consistent.

Is there any resolution for this?

We have already set the below attribute to "false". But facing the same issue (inconsistent)

browser.ignoreSynchronization = false;

any help

[2019-03-12 13:20] arshad3m commented on #5147
I have the same issue. See if the error goes if you set:
`waitForAngularEnabled(false)`

My question on stackoverflow:
https://stackoverflow.com/questions/55107347/protractor-tests-wont-run-on-angular-4-site-without-waitforangularenabledfalse

[2019-03-12 16:17] codehunter13 commented on #5103
i got the same problem.
hangs sometimes on data:text/html,<html></html>
chromedriver_2.46.exe
protractor 5.4.2

[2019-03-13 00:32] J-Swift commented on #4819
@rakeshnambiar Its been a long time, but I think I had to use the raw browser API to iterate over the DOM elements directly, rather than using the `ElementArrayFinder`. I'll have to look up the old code later to see exactly what API I was leveraging.

[2019-03-13 10:41] rakeshnambiar commented on #4819
@J-Swift thanks for your quick reply. I solved it yesterday with the below listed approach.

Changed from:
[code]

Changed to:

[code]

[2019-03-13 16:04] rkrisztian commented on #4687
I've been using Docker images from https://github.com/elgalu/docker-selenium, which put Chrome and Firefox to the same container (as opposed to https://github.com/SeleniumHQ/docker-selenium), thus by default it exposes a Selenium Grid port to us, rather than just a Node. However, elgalu's images can be configured to expose the ports of the Firefox- and Chrome-specific Selenium nodes directly.

=>

[2019-03-13 17:08] kav3109 commented on #4817
Hello! I have the same problem, but how can we make sure that we re-acquire each element?

[2019-03-13 17:46] simonua commented on #4817
Hi @kav3109,

This approach is what I ended up doing, which has worked very successfully and reliably:

[code]

[2019-03-13 18:44] kav3109 commented on #4817
Thank you very much!!!

[2019-03-13 18:45] simonua commented on #4817
@kav3109, you're welcome. If you have more questions, I may be able to give you more code but I'd have to abstract it quite a bit from our (private) implementation.

[2019-03-13 19:14] luker2 commented on #124
@gregjacobs I need to specify a username/password for our proxy used on the `webDriverProxy` property. Do you know how?

[2019-03-13 22:07] brunoribeiro-beta commented on #2316
@justechn could you explain what you figured out? I'm having a similar problem and can't understand why.

[2019-03-14 07:49] vickyru commented on #3234
@cnishina this bug is still there i tried it with jasmine 3.3.0.
Please provide this feature to end users. Much awaited feature.

[2019-03-14 10:19] kav3109 commented on #4817
@simonua, if you give me more code I'll be grateful. I'll try to adapt my code. Thanks!

[2019-03-14 12:08] gregjacobs commented on #124
@luker2 Unfortunately I'm not exactly sure, but does `webDriverProxy: 'http://username:password@your.proxy.here:8080'` not work? (where `8080` is your proxy's port?)

[2019-03-14 12:32] simonua commented on #4817
@kav3109, this is really it in a nutshell. Make sure you reinitialize **all** of your page objects for every test run with a `beforeEach`. This ensures that the `ElementFinder` properties are using the current browser session. Can you try a very simple example with one page object, one or two `ElementFinder` properties, `restartBrowserBetweenTests` set to `true`, and two independent tests, please?

[2019-03-14 12:37] luker2 commented on #124
@gregjacobs yes, I hadn't followed up yet but that's what ended up working!

For others, I also had to url encode the username:password part to escape special characters...

[code]

[2019-03-14 12:51] gregjacobs commented on #124
@luker2 Awesome, glad to hear you got it working! And thanks for posting that piece about uri encoding the username and password - good catch!

[2019-03-14 20:00] kav3109 commented on #4817
i don't know why, but it isn't reproduced when i try to write example. I need to investigate issue in my project.
Thanks for help! :+1:

[2019-03-15 10:47] simonua commented on #4817
@kav3109, you're welcome. If you wrote an example based on what I suggested, I would not be surprised for it to work. Remember that you have to reinitialize **all** page objects as even just one `ElementFinder` that is tied to an old browser session ID can trip it. That took me a while to understand and identify in our solution.

[2019-03-15 19:49] EugeneSnihovsky commented on #4817
@simonua Hello! What about step definitions written with typescript and using browser methods?  They should be reinitiated too? If yes - how can I do that?

[2019-03-18 10:35] sorin7486 commented on #5103
I have the same issue and I haven't been able to find a workaround for this.

[2019-03-18 11:12] simonua commented on #4817
@EugeneSnihovsky, my apologies, but I am not familiar with cucumber.

[2019-03-18 11:48] jagdheesh-github opened #5177 "both angularJS testability and angular testability are undefined"
My protractor scripts were running fine on Windows 10 Pro. but when i launch them on Windows server 2016, then they throw the below error.

 E/launcher - Error: Error from waitForAngular: both angularJS testability and angular testability are undefined.  This could be either because this is a non-angular page or because your test involves client-side navigation, which can interfere with Protractor

[2019-03-18 18:49] amodmahajan2016 opened #5178 "getPageTimeout is not working."
getPageTimeout is waiting time for page to be loaded. Default wait time in 10 sec. I tried to change it to 1 second just for checking its functionality. I am expecting to give Error: Timed out waiting for page to load after 1000ms but it didn't.
Conf file:
`exports.config = {

    specs: ['../Spec Files/DropdownHandling.js'],

    getPageTimeout: 1,

}`

Spec file:
`describe('Handling dropdown', (

[2019-03-19 06:11] 86SUSHIL commented on #5161
Can anyone have basic protractor - Cucumber BDD framework for React application

[2019-03-19 16:22] Ptit-Biscuit opened #5179 "Question: Updates about Protractor"
Hi there!

Just a little issue to know if protractor is dead or not ?
As there have not been any single commit since December I'm wondering if the Angular team still works on the project or if I should seek for alternatives.
Thank you

[2019-03-19 17:05] CrispusDH commented on #5179
Here you could track some progress https://github.com/angular/protractor/issues/5159 .

[2019-03-20 01:22] MuckT commented on #5103
Seeing the same issue on a nodejs server when testing with ChromeDriver 73.0.3683.68 and protractor 5.4.2.

[2019-03-20 05:54] AyeshaBegam commented on #5178
Even i have the same issue it is not picking the elements and entering the data in to them.Could anyone please look in to this and give us the solution for this.

[2019-03-20 06:34] ashishbansali commented on #5178
What's the error ? Share the HTML element. Is the page angular ?

[2019-03-20 06:48] AyeshaBegam commented on #5178
Yes the page is angular and it is a mobile application. Error is: Failed: script timeout: result was not received in 11 seconds. It is not entering the data in elements.It used to work earlier. I have upgraded protractor to Version 5.4.2

 Login to application should login with Credentials given
  Message:
[31m    Failed: script timeout: result was not received in 11 seconds
      (Session info:

[2019-03-20 07:14] GarfieldDeepClone commented on #352
Why is this possible? clear() returns a Promise. Why can I call sendKeys on it?

[2019-03-20 07:16] GarfieldDeepClone commented on #4383
Why is this possible? clear() returns a Promise. Why can I call sendKeys on it?

[2019-03-20 10:42] iamporus commented on #4674
+1

[2019-03-20 16:22] praveenngp15 opened #5180 "E/launcher - Unable to create new service: InternetExplorerDriverService"
I am getting the below error

[09:17:28] I/launcher - Running 1 instances of WebDriver
[09:17:28] I/local - Starting selenium standalone server...
[09:17:30] I/local - Selenium standalone server started at http://192.168.43.69:50504/wd/hub
[09:17:31] E/launcher - Unable to create new service: InternetExplorerDriverService
Build info: version: '3.141.59', revision: 'e82be7d358', time: '2018-11-14T0

[2019-03-20 16:23] praveenngp15 commented on #5180
Started InternetExplorerDriver server (32-bit)
3.141.5.0
Listening on port 5555
Only local connections are allowed

[2019-03-20 19:38] amodmahajan2016 commented on #5178
ayeshaBegam- your issue is different. You need to increase timeout for angular loading. Refer timeouta section of projtractor official page.

[2019-03-21 04:10] AyeshaBegam commented on #5178
Hi amod,
  Did that as well. Increased the timeout value but still has the
same problem.

On Thu, Mar 21, 2019, 1:08 AM amodmahajan2016 <notifications@github.com>
wrote:

[2019-03-21 13:45] demisx commented on #4976
@raheel0452 See if this error is back after restart. It disappeared for me initially, but then, some time later, the old good friend was knocking back at the front door.

[2019-03-22 08:34] Szuchow commented on #713
Could you elaborate?

[2019-03-22 14:33] qatechniker opened #5181 "Can not start Safari12 - Request body does not contain required parameter 'capabilities'."
Bug report
---

- Node Version: `v9.5.0`
- Protractor Version: `5.4.2`
- Browser(s): `savari12`
- Operating System and Version `mac os`
- Your protractor configuration file

capabilities: {
        browserName: 'safari',
        version: '12.0',
        safariOptions: {
            args: [ '--legacy', '--disable-gpu', '--window-size=800x600' ]
        }
    }

- Output from running the test
(node:

[2019-03-22 16:46] qatechniker commented on #5181
Can do it with new 6.0.0-beta

[2019-03-22 16:46] #5181 closed

[2019-03-23 00:23] cnishina commented on #5163
This is not a bug.

[2019-03-23 00:23] #5163 closed

[2019-03-23 01:15] cnishina commented on #5179
Oh hey! I'm trying to do the release some time today. Sorry about that. Its been sitting in beta and I got busy with other priority items.

[2019-03-23 10:44] Ptit-Biscuit commented on #5179
No problem. I'm aware that you guys have priorities other than protractor xD.
Thanks anyway.

[2019-03-24 09:40] ASaiAnudeep opened #5183 "setSize is not a function"
Latest version of protractor (6.0.0) is failing to run the following statement.

`browser.driver.manage().window().setSize(1920, 1080);`

Bug report
---

- Node Version: `v8.11.1`
- Protractor Version: `6.0.0`
- Angular Version: `1.6`
- Browser(s): `Chrome`
- Operating System and Version `Windows 10`
- Your protractor configuration file

[code]

- A relevant example test

[code]

- Output from run

[2019-03-24 14:08] aryeharmon commented on #4783
@Varavarforvar How? what wa the issue? i am having the same problem.

[2019-03-24 15:08] cnishina commented on #5183
This is not an issue with Protractor but a change from Selenium. See https://github.com/SeleniumHQ/selenium/blob/master/javascript/node/selenium-webdriver/CHANGES.md

Per the selenium changelog:

[code]

Closing since this is not a Protractor issue.

[2019-03-24 15:08] #5183 closed

[2019-03-24 15:10] cnishina commented on #5179
Okay so Protractor 6 is released. All the commits were in the selenium4 branch... which is now the master branch. Huzzah!

Closing this issue. 😃

[2019-03-24 15:10] #5179 closed

[2019-03-24 15:13] cnishina commented on #5176
You will need to set the chromedriver version to 2.44. I had to set it in our config as well since they are on Chrome 69. https://github.com/angular/protractor/blob/master/.circleci/config.yml#L35

So when downloading chromedriver, you'll need something like `webdriver-manager update --versions.chrome 2.44`. I got 2.44 based on http://chromedriver.chromium.org/downloads

I am also looking into dow

[2019-03-24 15:13] #5176 closed

[2019-03-24 15:16] cnishina commented on #5175
There are always problems with IE Driver. I am not sure how much development or support is going into IE Driver since IE has reached its end of life a while ago. I'm going to close this issue since it is not a Protractor issue. I would write this issue with maybe Selenium.

[2019-03-24 15:16] #5175 closed

[2019-03-24 15:17] cnishina commented on #5159
Done! Thanks Craig.

... you're welcome. 😄

[2019-03-24 15:17] #5159 closed

[2019-03-24 15:17] cnishina commented on #5159
Oh instead of a beta release we just made the 6.0.0 release.

[2019-03-24 15:20] cnishina commented on #5173
Just went through and did a webdriver-manager audit and did a release to 13.0.0. I also did an audit on Protractor. We have some vulnerabilities but those exist in the testapp (for our own testing) and the website (but it has to be that way because of dgeni). This is done. Closing this issue.

[2019-03-24 15:20] #5173 closed

[2019-03-24 15:51] cnishina commented on #5157
You should run Protractor locally as well as webdriver-manager. You should add scripts to your package.json file to get this to work. I answered something similar here:

https://stackoverflow.com/questions/24656341/npm-run-webdriver-manager-update-seems-bugged/42751988#42751988

Closing this issue since it is not an issue with the Protractor framework.

[2019-03-24 15:51] #5157 closed

[2019-03-24 15:53] cnishina commented on #5133
Sweet. Then this is fixed! Protractor 6 is live. Closing this issue.

[2019-03-24 15:53] #5133 closed

[2019-03-24 15:53] cnishina commented on #5132
Closing this issue due to staleness.

[2019-03-24 15:53] #5132 closed

[2019-03-24 16:00] cnishina commented on #5139
This would have to be a new API. I'm not sure how often you have an exact match on text. Also you can already do this with more a little bit more work.

Why not do something like:

[code]

Also it looks like you can do this already with xpath. Closing this issue.

[2019-03-24 16:00] #5139 closed

[2019-03-24 16:00] cnishina commented on #5141
Okay closing this issue. I did an audit on the release for Protractor 6. This should be fixed.

[2019-03-24 16:00] #5141 closed

[2019-03-24 16:04] cnishina commented on #5166
I think this is the behavior we wanted. Alternatively, you could do an element.all and then get the count. If it is more than one you can then throw errors. Closing this issue since this is as intended.

[2019-03-24 16:04] #5166 closed

[2019-03-24 17:52] tymfear opened #5185 "Protractor 6.0 fails on call to actions API."
Bug report
---

- Node Version: `10.15.0`
- Protractor Version: `6.0`
- Angular Version: ``
- Browser(s): `chrome v. 73.0.3683.8`
- Operating System and Version `MacOS High Sierra v .10.13.6`
- Your protractor configuration file
- A relevant example test
- Output from running the test
- Steps to reproduce the bug
- The URL you are running your tests against (if relevant)

Config:
[code]
Spec
[code

[2019-03-25 02:23] kimamula commented on #3889
Put this line in your config's `onPrepare()` function and you can use Jest functionalities in your Protractor specs.

[code]

References:
https://github.com/facebook/jest/issues/848#issuecomment-324921548
https://github.com/facebook/jest/issues/848#issuecomment-450537533

[2019-03-25 03:00] cnishina commented on #5185
Actions API has changed. I would read up on them and access them directly from browser.drive

[2019-03-25 11:48] tymfear commented on #5185
@cnishina yeah, found solution, thanks.
FYI, just need to pass `{bridge: true}` to actions builder.
[code]

[2019-03-25 11:48] #5185 closed

[2019-03-25 12:54] SebastianSolidwork commented on #5166
I want to have my different behavior by default. I don't want to code that at any occurrence of element.all.
Sad, one more point which drives me away from protractor.

Could you explain me what are the advantages of the actual behavior? Why is this intended?
I know it's intended, but i questioning the intention.
This issue was about that too:
https://github.com/angular/protractor/issues/2417

[2019-03-25 13:18] Jagadeesh9491 opened #5186 "While executing e2e tests in protractor when we are using ignore.synchronization=true/ browser.waitforAngularEnabled(true) to handle waits is too slow when compared to browser.sleep(10000) to proceed to next step. How to address these kind of wait issues to make the script execution faster?"
Hi there!

Thanks for submitting an issue to Protractor.

To help us help you better, please do the following before submitting an issue:

1. Review the questions section of [CONTRIBUTING.md](https://github.com/angular/protractor/blob/master/CONTRIBUTING.md#contributing).
2. Make sure you are not asking a usage or debugging question. If you are, use [StackOverflow](http://stackoverflow.com/questio

[2019-03-25 14:04] DarthOpto commented on #4853
Same results for me no other browser except Chrome is working I have even been running it through SauceLabs now and get the same results.

[2019-03-25 14:22] Jagadeesh9491 opened #5187 "I am using protractor with jasmine for test our application, it is a combination of both angular and non-angular page in the application. For handling the timeout issue using wait for AngularEnabled(true). but wait for AngularEnabled(true) is too slow when compare to browser.sleep(10000). how to make the execution fast?"
Hi there!

Thanks for submitting an issue to Protractor.

To help us help you better, please do the following before submitting an issue:

1. Review the questions section of [CONTRIBUTING.md](https://github.com/angular/protractor/blob/master/CONTRIBUTING.md#contributing).
2. Make sure you are not asking a usage or debugging question. If you are, use [StackOverflow](http://stackoverflow.com/questio

[2019-03-25 14:28] cnishina commented on #5187
Hi! This looks like a support question. Please ask your support questions on [StackOverflow](http://stackoverflow.com/questions/tagged/protractor), [Google Group discussion list](https://groups.google.com/forum/?fromgroups#!forum/angular), or [Gitter](https://gitter.im/angular/protractor). For more information please reference https://github.com/angular/protractor/blob/master/CONTRIBUTING.md#quest

[2019-03-25 14:28] #5187 closed

[2019-03-25 14:28] cnishina commented on #5186
Hi! This looks like a support question. Please ask your support questions on [StackOverflow](http://stackoverflow.com/questions/tagged/protractor), [Google Group discussion list](https://groups.google.com/forum/?fromgroups#!forum/angular), or [Gitter](https://gitter.im/angular/protractor). For more information please reference https://github.com/angular/protractor/blob/master/CONTRIBUTING.md#quest

[2019-03-25 14:28] #5186 closed

[2019-03-25 14:46] cnishina commented on #5166
I believe this is the same behavior as selenium-webdriver. Anyway, here's my thoughts on why this is how it is:

As a person writing a test, I would still want a web element returned and a warning message that there is more than one web element. The test might still work since it is the first element but the warning is telling me that I might want to think about using an element array finder inste

[2019-03-25 14:57] tymfear commented on #5166
To extend an element you could use this https://github.com/Xotabu4/protractor-element-extend package.

[2019-03-25 15:20] SebastianSolidwork commented on #5166
@cnishina Thanks, i couldn't hoped for more.

My experience is that most people oversee warnings like this, at least when it comes at a later time. Especial in CI.
Lets say there are 100 test cases. 10 are having real problems/errors. Do you look through the protocols of the other 90 just for that protractor warning?
I think it's quite easy to oversee the warning.
People seldom know upfront if the

[2019-03-25 21:37] sedja commented on #1369
Hey, @djom20

If your question is still relevant, this worked for me

`
private drawLine(canvasElement) {
    const actions = browser.actions();

    return actions
      .mouseMove(canvasElement, { x: 50, y: 50 })
      .perform()
      .then(() => actions.mouseDown(canvasElement).perform())
      .then(() => actions.mouseMove(canvasElement, { x: 250, y: 250 }).perform())
      .then(() => action

[2019-03-25 21:48] bobbyg603 commented on #5147
Also seeing this...

[2019-03-26 05:19] Satish152 opened #5188 "My code is not performing any action on browser even though the method is getting executed"
i'm trying to implement the Protractor-Cucumber-framework in my project.. when execute the code.. methods are getting executed but the code inside the method is not getting executed.. i mean when i tried to click or enter the data in field or pause the browser execution through browser.sleep these actions are getting performed.. and also my script is not failing.

**My StepDef file**

`var login=r

[2019-03-26 14:44] RoakyWood commented on #5177
@jagdheesh-github my friend, it is not just the move to Windows 10 nor is it your code.

Cheers, RW
**_And the Crowe takes winge to the Roaky Wood_**

It seems that the combination below has introduced significant instability in the execution of Protractor.

--protractor v6.9.0
--webdriver-manager v13.0.0
--node v10.15.0
--windows 7 and/or 10
--Chrome 73.0.3683.86 (Official Build) (64-bit)
--chrom

[2019-03-26 15:10] BorntraegerMarc commented on #4156
@x1c0 no, protractor's `.clear` doesn't work with reactive forms

[2019-03-26 16:29] bdirito commented on #5137
https://stackoverflow.com/questions/48627074/how-to-track-which-async-tasks-protractor-is-waiting-on

[2019-03-26 18:27] RoakyWood commented on #5109
This was not a support question, it is a re-occurring unfixed bug/defect. See #5177

[2019-03-26 18:36] RoakyWood commented on #4658
See #5177 this is a yet uncorrected bug/defect that manifested with the latest updates of webdriver-manager and protractor. It is not a coding issue.

How to reproduce: do a fresh install on Windows 7 or 10 of Nodejs. Install the latest protractor. (Assuming you can get around the Chrome phantom version 74 issue https://github.com/angular/webdriver-manager/issues/351) Run the simple tutorial from

[2019-03-26 19:14] cnishina commented on #5188
If you are using the driver object, you are using selenium-webdriver. I would look into the selenium-webdriver APIs why this is not working. Just a quick review of your code snippet, I would suggest making this async / await.

Since this looks like a support question, I am closing this issue. Please ask your support questions on [StackOverflow](http://stackoverflow.com/questions/tagged/protractor)

[2019-03-26 19:14] #5188 closed

[2019-03-26 19:33] vsravuri opened #5190 "Protractor API Documentation version is not updated"
Bug report
Protractor API Documentation version is not updated. Protractor 6.0.0 is released but the API documentation version is still 5.4.1

http://www.protractortest.org/#/api

![image](https://user-images.githubusercontent.com/22808594/55027764-4a94e600-4fc3-11e9-9272-9017bd1f9f89.png)

cc: @cnishina

[2019-03-26 20:11] CrispusDH commented on #5190
I think we should keep two versions of API because a lot of people still use 5.4.1

[2019-03-27 08:16] cnishina commented on #5190
Yes that's true. The docs are not updated. I'm on vacation.

[2019-03-27 08:25] cnishina commented on #5177
- angular/webdriver-manager#351 is not a bug. It is discussed and this is the intent. If you need a specific version then it is best to use a flag to make this happen.
- more questions. does this only fail on windows? does this work on other platforms like linux and mac? are your tests async / await? Is your plugin script async / await?

I haven't run into this error yet but I'll try it out when I

[2019-03-27 08:32] cnishina opened #5191 "CircleCI fails during Chrome install"
So many questions:

- why am I installing browsers in an image with browsers?
- can this test just work with the existing browser? should we switch to chromium?
- what's this error and why now? did something change?

[code]

[2019-03-27 08:34] cnishina commented on #5190
Also due to the way this website works, it is difficult to keep two versions of the website. I also wanted to keep track of multiple API versions.

[2019-03-27 08:59] Delagen opened #5192 "TypeScript compilation issue"
Bug report
---

- Node Version: `11.12.0`
- Protractor Version: `6.0.0`
- Operating System and Version `Windows 10`

[code]

[2019-03-27 09:02] Delagen commented on #5192
Seems found typings in your project. Try to use them

[2019-03-27 09:59] sbley commented on #5192
I can confirm the last error:
[code]

The folder `node_modules/protractor/built/selenium-webdriver` does not contain a lib folder. It contains only two files: locators.js and webdriver.js-

- Node Version: 8.9.4
- Protractor Version: 6.0.0
- Operating System and Version: Windows 10

[2019-03-27 10:30] Delagen commented on #5192
@sbley git source contains ts definitions, looks like excluded from package by .npmignore or something else.

[2019-03-27 10:56] sbley commented on #5192
I created a pull request #5193 to add the typings as part of the prepublish task.

[2019-03-27 11:16] Delagen commented on #5192
Seems need also correct \@types/selenium-webdriver or supply paths for TS module resolution

[2019-03-27 11:58] RoakyWood commented on #5177
Version 6.x was an unannounced change on async/await.

Not the README nor the online documentation, nor the tutorial were updated to reflect this change.

Anyone running existing tests or newbies trying the tutorial would be unable to get protractor working because of now requiring async/await.

Issue #351 is a bug. It was never required to specify a chrome driver version from the command line bef

[2019-03-27 12:19] gaurabhi1986 opened #5194 "SessionNotCreatedError: session not created from timeout: Timed out receiving message from renderer: 600.000"
I am running my test in parallel on team-city build job, locally they are running fine but in team-city build is failing every time. Its all started after I have upgraded my chrome browser to version 73.

Bug report
---

- Node Version: v8.11.4
- Protractor Version: 4.0.14
- Angular Version: 1.x
- Browser(s): Chrome 73
- Operating System and Version Windows 10
- Output from running the test:

[22:

[2019-03-27 13:52] cnishina commented on #5194
Possibly update Protractor? You are several versions back. I would update Protractor first. Also there's no example so there is no way to debug this.

[2019-03-27 13:52] #5194 closed

[2019-03-27 13:54] cnishina commented on #5192
You do not need @types/selenium-webdriver since it was removed from Protractor 6. As far as I know there are no versions that support version 4. There's an issue already discussing removing it locally once we publish our types to DefinitelyTyped.

[2019-03-27 13:56] cnishina commented on #5192
Hmmmm... okay looking at the PR, this is an issue. Thanks for the PR! I'll look into it when I get back from vacation.

[2019-03-27 15:08] iamporus opened #5195 "Change the default audio capture device of browser"
I've a USB microphone connected to my system which I want to use while running my tests. However, the browser always uses the default system microphone; which my system doesn't have :( and hence my test fails.
I tried adding the following in conf.js to disable default mic, but it's not working.
[code]
I tried passing in the name of the audio device as shown in chrome settings as well but to no suc

[2019-03-27 15:23] cnishina commented on #5195
I did not know Protractor has a microphone setting. What does it do? What was it supposed to do?

[2019-03-27 19:41] muneebshaikh96 opened #5196 "Protractor unable to create new browser instance by forkNewDriverIntance method"
Hi there!

I've been writing test cases for a chat module in chat scenario I've to use two browser instances I've written three test cases that runs perfectly on my local PC but when I run them on my server the 3rd one crashes in pipeline  when it proceed to create another instance of browser by using forkNewDriverInstance( ), following is the error :
WebDriverError: Unable to parse new session re

[2019-03-28 00:04] gaurabhi1986 commented on #5194
cnishina

[2019-03-28 00:09] gaurabhi1986 commented on #5194
But my tests are working fine in local system, its only failing in Build server. Its look like Protractor is not able to create Browser session in build server, I am getting error message on build log "Process exited with code 100 (Step: Run UI Tests (Command Line))". If you see the stack trace issue is related to file "\npm\node_modules\protractor\node_modules\selenium-webdriver\http\index.js:538

[2019-03-28 05:03] iamporus commented on #5195
My use case depends upon using a microphone inside a browser window. There are configurations available in protractor to simulate fake audio/video streams coming through to the browser. But my use case depends upon using an actual USB microphone. I stumbled upon `media.default_audio_capture_device` configuration when I was looking to change the default one to USB. Just not sure how to invoke it.

[2019-03-28 06:47] iamporus commented on #5195
I was finally able to achieve this by changing my system's default audio source to USB using pulseaudio.

Here's the command:
`pacmd list-sources`
This will present you with available audio capture devices. Note down the name of the device are interested in. Then,
`pacmd set-default-source <name of audio capture device> `

Starting protractor after this, it automatically picked up the USB micropho

[2019-03-28 06:47] #5195 closed

[2019-03-28 07:53] jagdheesh-github commented on #5177
@RoakyWood
i am using below versions

protractor : 5.4.2
webdriver-manager : 12.1.1

[2019-03-28 08:19] mmtmohit commented on #5177
I am facing the same Issue with Mac OS X as well.
I am simply not able to run the basic Quick Start Examples on Protractor Site :: https://www.protractortest.org/#/

I am getting the same above errors :

`1) Protractor Demo App should have a title
  Message:
    Expected [object Promise] to equal 'Super Calculator'.
  Stack:
    Error: Expected [object Promise] to equal 'Super Calculator'.

[2019-03-28 09:49] JonWallsten commented on #5192
Just wanted to report I got the same issue. Can't even build our production build with @ngtools/webpack since it's somehow stumbles upon this d.ts file.

[2019-03-28 11:54] vinodkumar012 commented on #5194
I am also facing similar kind of issue by upgrading to chrome 73. My tests also running fine locally. But, failing on team city

[2019-03-28 11:56] vinodkumar012 commented on #5194
@gaurabhi1986 Plaease update here if you find any sollution.

[2019-03-28 13:45] yosrahidri commented on #4591
thnx

[2019-03-28 16:27] ddaughtry333 commented on #5194
I also am facing the same issue.

My Teamcity windows build agents were upgraded to Chrome 73 and my e2mock builds using Protractor immediately started failing.

The google documentation says we should be using a new chromedriver for 73, see the top of the page [here](https://sites.google.com/a/chromium.org/chromedriver/downloads), while also saying down further that chromedriver-2.46 works with 7

[2019-03-28 20:50] s3ck commented on #5177
I also experienced this following the https://www.protractortest.org/ setup and example.

node v10.15.3
protractor Version 6.0.0
chromedriver: 73.0.3683.68 (latest), 74.0.3729.6
selenium: 3.141.59 (latest)
OS X : 10.13.3

[13:40:35] I/hosted - Using the selenium server at http://localhost:4444/wd/hub
DEPRECATION: Setting randomizeTests directly is deprecated, please use the random option in `confi

[2019-03-29 00:32] cnishina commented on #5192
Yes. This is not working. I tried to get Protractor to work without publishing to DefinitelyTyped. I'm opening up a PR to DefinitelyTyped. I was on vacation after publishing so I'm sorry that I didn't notice this sooner.

[2019-03-29 00:55] cnishina commented on #5192
Root issue here is that I tried to roll out my own typings with the intent of releasing Protractor 6 without releasing types to DefinitelyTyped. After some experimentation, even if the types are in the node_modules/protractor/built/lib/selenium-webdriver directory with the tsconfig pointing to these files as "selenium-webdriver" typings, it still does not work.

I'll have a PR for DefinitelyTyped/

[2019-03-29 02:07] cnishina commented on #5196
I can't tell what version you are using. If you are using the latest, then that means the control flow goes away. Instead you'll need to use async / await.

[2019-03-29 02:15] vsravuri commented on #5145
@cnishina

Any reason why you think multiCapabilities not working in Protractor 6.0.0?

[2019-03-29 03:49] Delagen commented on #5192
@cnishina Some protractor typings use direct import via 'selenium-webdriver/...' so types which does not declare this modules may not work. Moreover some code use relative import of typings via relative path './selenium-webdriver'

[2019-03-29 07:10] janilkumarreddy commented on #1853
Any update on above issue,Cannot read property 'bind' of undefined when using ExpectedConditions on browser.driver.findElement

[2019-03-29 07:40] JonWallsten opened #5198 "visibilityOf/presenceOf/etc. gives opposite result for disabled inputs"
Bug report
---

- Node Version: `10.9.0`
- Protractor Version: `6.0.0`
- Angular Version: `7.2.10`
- Browser(s): `Chrome`
- Operating System and Version `Window 10`

When using expected conditions on a disabled input the following EC:s gives you `false` even though the element is really there (verified visually):
presenceOf
visibilityOf
elementToBeClickable

Also `textToBePresentInElementValue` do

[2019-03-29 10:07] pkearney13 commented on #5145
Same here

[2019-03-29 11:25] muneebshaikh96 commented on #5196
Here's the it where it is unable to fork new browser instance :

        it('Should launch new browser for the guest user', async () => {

            /** Gets browser's window size */
            browserSize = await browser.manage().window().getSize();

            /** Gets the url of browser for second instance of browser */
            let liveplaybackUrl: string = await browser.getCurrentUrl()

[2019-03-29 12:25] jithinkmatthew commented on #5145
Facing same problem with protractor version `6.0.0`

[2019-03-29 12:26] sbley commented on #5192
Adding the typings during the prepublish task (PR above) solved my problem. I didn't have to point to the typings within tsconfig.

[2019-03-29 16:41] cnishina commented on #5192
@sbley Alright let me revisit this. I tried this out and didn't get this to work.

@Delagen Do you know where you found this?

[2019-03-29 16:50] Delagen commented on #5192
@cnishina Look at selenium-webdrive4 folder *.d.ts files in original repo

[2019-03-29 22:33] cnishina commented on #5191
After investigation, we are doing a `sudo apt-get update` to install firefox. This isn't needed since we are using an image with browsers. Removing it appears to work.

[2019-03-29 22:49] cnishina commented on #5196
Looks similar to https://github.com/angular/protractor/blob/5d8da049815ffc104e6eca71d2ecaec51b00f520/spec/interaction/interaction_spec.js#L48

Except the .ready is not needed. I'll make sure to add this at the top of the changelog.

[2019-03-29 22:50] cnishina commented on #5196
This might be more of an issue with documentation. It is in the changelog:

[code]

[2019-03-29 23:03] cnishina commented on #5190
I'll update the docs as soon as 6.0.1 is released.

[2019-03-29 23:07] vsravuri commented on #5145
@cnishina

Any update on this issue?

[2019-03-29 23:08] cnishina commented on #5192
@sbley I could not get this to work in a sample project. I think the best bet is the DefinitelyTyped route. Also this is probably the right route without hacking in something to get it to work.

Speaking of getting things to work, I tagged the latest Protractor to 5.4.2 since that version is pretty stable.

@Delagen I did a word search and did not find these *.d.ts. files that reference the path

[2019-03-29 23:09] devoto13 commented on #5191
The 404s are because Debian Jessie was achieved and some repositories were removed. See [this thread](https://www.mail-archive.com/debian-user@lists.debian.org/msg740473.html) for more details. Probably not very useful information given the solution, but just in case 😄

[2019-03-29 23:16] cnishina commented on #5145
Yikes, this appears to be an issue. Maybe keep using 5.4.2 until this is resolved. I'm not sure and will talk it over with Julie.

[2019-03-30 01:11] cnishina commented on #5145
While removing q from Protractor, I did run into this (which might be suspect): https://github.com/angular/protractor/blob/master/lib/launcher.ts#L231

My problem with this was we called a method that returned a Promise without awaiting the promise. I ended up putting an await there. This might not be it... It might be:

https://github.com/angular/protractor/blob/master/lib/launcher.ts#L250

[2019-03-30 01:13] cnishina commented on #5196
I think this probably resolves this issue. Protractor 6 has changed and maybe the changelog did not highlight this enough. I'll make sure to add more emphasis into 6.0.1 changelog

[2019-03-30 01:14] cnishina commented on #5190
Another quick update. The latest on npmjs is pointed to 5.4.2 so this won't be too much of a problem. Sorry about this.

[2019-03-30 01:17] cnishina commented on #5180
You'll need to start up the selenium standalone server with the iedriver. In the current configuration, you can only start Chrome and Firefox (this is defined in the driverProvider local.ts)

I would start with `webdriver-manager start --ie`  and use `seleniumAddress: 'http://localhost:4444/wd/hub'`.

Closing this issue as resolved. If you still run into this issue, please ask support questions on

[2019-03-30 01:17] #5180 closed

[2019-03-30 01:25] cnishina commented on #5178
When logging in, is this an Angular page? Did you navigate to a non-angular page? Also browser.get only does a wait for the url to change. https://github.com/angular/protractor/blob/master/lib/browser.ts#L747

[2019-03-30 01:43] cnishina commented on #5177
### Updates on the angularJS testability and angular testability are undefined bug:

@jagdheesh-github I'm working on reproducing this issue.

### Addressing unrelated comments to added to this issue

So these are a lot of other issues and comments that are unrelated to the actual issue being reported. Here are some responses to the comments.

- I have pull requests that update the examples so the

[2019-03-30 02:50] vsravuri commented on #5145
@cnishina

Appreciate your help for looking into this issue. I will continue using 5.4.2 until this issue is resolved.

[2019-03-30 03:40] RoakyWood commented on #5177
1. From a software engineering standpoint, the changes were non-obvious on both issues as the primary documentation on the protractor site was not updated to reflect two major changes that broke the example. Thus, potential new users and newbies were chased away. Not a good look for selling an otherwise very good technology. None of the new users would look at the changelog because none of them ev

[2019-03-30 05:49] Delagen commented on #5192
@cnishina https://github.com/angular/protractor/blob/master/lib/ptor.ts#L5 for example of direct import based on library structure

[2019-03-30 06:01] cnishina commented on #5177
Thanks for your comment. I'll keep those recommendations in mind.

[2019-03-30 06:39] cnishina commented on #5192
@Delagen So let's table this for now. Julie and I discussed this today about modifying the tsconfig as a workaround. The conclusion we came up with is that the right thing to do is to release to DefinitelyTyped. So for this last portion (Chrome 75! You are from the future! 😄), could you open up a new bug about this? Also could you try the same issue with 5.4.2? Thanks!

[2019-03-30 07:20] cnishina commented on #5191
Neat! The internet has all the answers! Anyway, it looks like the fix is to just delete that part of the config.

[2019-03-30 09:05] jithinkmatthew opened #5204 "CHANGELOG References are re-directing to 404 Page"
Bug report
---
Hi,
Please open CHANGELOG.md(`v6.0.0`) file and check `Features `  ,  `Dependencies ` commit references. It is redirecting to 404 Page.

It is not difficult to find those commits. Created just for your information.

[features](https://github.com/angular/protractor/blob/master/CHANGELOG.md#features)
[dependencies](https://github.com/angular/protractor/blob/master/CHANGELOG.md#depende

[2019-03-30 14:34] RoakyWood opened #5206 "Documentation Update"
Hi there!

Thanks for submitting an issue to Protractor.

To help us help you better, please do the following before submitting an issue:

1. Review the questions section of [CONTRIBUTING.md](https://github.com/angular/protractor/blob/master/CONTRIBUTING.md#contributing).
2. Make sure you are not asking a usage or debugging question. If you are, use [StackOverflow](http://stackoverflow.com/questio

[2019-03-30 19:36] cnishina commented on #5204
Weird. I wonder if this is because I created these when I was in the selenium4 branch? I'll fix this next week. Thanks!

[2019-03-30 19:38] cnishina commented on #5206
Could you help and put in a PR for this? Thanks!

[2019-03-30 19:39] cnishina commented on #5204
Oh nevermind. I just saw the PR. Thank you!

[2019-03-30 20:04] RoakyWood commented on #5206
Will do.

[2019-03-31 02:38] JasonDarus9 opened #5207 "Trying to execute API request multiple times by keeping the browser active in protractor(JavaScript)"
Hi there!

Thanks for helping an issue to Protractor.

To help us help you better, please do the following before submitting an issue:

1. I trying to execute the function that hitting the POST API call multiple times and validates a field in the response, I've to wait around 6 mins(this is because their is Job processor that runs every 5 mins process the action that I do on the UI ) until the fie

[2019-03-31 08:48] cnishina commented on #5204
Closed with https://github.com/angular/protractor/pull/5205

[2019-03-31 08:48] #5204 closed

[2019-03-31 08:49] cnishina commented on #5207
Could you format your code? This is difficult to read.

[2019-03-31 08:53] cnishina commented on #5167
Could you update this issue? I'm still not sure what's going on because there is not a lot of information here to figure out what you are asking. Thanks!

[2019-03-31 15:39] mvhaen commented on #5185
I'm still getting the same error (mouseMove is not a function) after passing `{bridge: true}`.

`        return browser.actions({ bridge: true })
            .mouseMove(elem)
            .mouseMove({ x: toRight, y: toBottom })
            .click()
            .perform();`

[2019-04-01 13:34] vijayjdk commented on #4817
Hi I am facing same issue
Failed: This driver instance does not have a valid session ID (did you call WebDriver.quit()?) and may no longer be used.
i am trying to use restartBrowserBetweenTests: true(configuration file) and calling my login() function in beforeEach() but sill facing this issue .
Please provide your suggestion

[2019-04-02 04:41] JonWallsten commented on #5198
@cnishina: Would you mind take a look at this?

[2019-04-02 11:21] FrancescoBorzi opened #5209 ""Cannot automatically find webdriver-manager to update" after upgrading to Protractor 6"
Bug report
---

After upgrading from version `5.4.2` to version `6.0.0`, when I try to run `ng e2e` it fails with the following:

[code]

Switching back to `5.4.2` solves this issue for me.

Here some information about my system:

[code]

[2019-04-02 16:53] cnishina commented on #5209
This is because the Angular CLI does not currently support Protractor 6 yet. I did let one of the maintainers know things were changing.

[2019-04-02 21:40] #5191 closed

[2019-04-04 15:06] danwellman commented on #4976
I started to get this issue today after updating macOS to 10.14.4

VSCode did not update (or at least, did not show usual 'welcome' screen it usually shows after update), and is currently version 1.32.3

Not only is it giving me this warning in tsconfig, it is also showing red underlines for all of my imports that start with `@`. I am working on a very large app, and in tsconfig and tsconfig.app.t

[2019-04-04 21:28] dhanraj002 opened #5212 "protractor is not stable to handle hidden pop up in virtual machine for some times"
Hi there!

Thanks for submitting an issue to Protractor.

To help us help you better, please do the following before submitting an issue:

1. Review the questions section of [CONTRIBUTING.md](https://github.com/angular/protractor/blob/master/CONTRIBUTING.md#contributing).
2. Make sure you are not asking a usage or debugging question. If you are, use [StackOverflow](http://stackoverflow.com/questio

[2019-04-05 00:24] cnishina commented on #5212
I'm not sure how to reproduce this. Could you provide more information? If not this will be closed.

[2019-04-05 03:55] Skidush commented on #2313
Almost 4 years in, can we please have this? It's very inconvenient to create short sleeps between interactions just to work around this issue. In addition, the `sleeps` accumulate a lot of time which I (and I believe many people also) would like to avoid.

[2019-04-05 10:57] ViieeS commented on #2454
I have the latest version of Jasmine v3.3.0 and still get this behaviour... 😕

[2019-04-05 11:12] tymfear commented on #2454
If you don't use Protractor 6.x, then, whichever version of Jasmine you got installed, you will use the version used by `jasminewd`.

[2019-04-05 16:04] ViieeS commented on #2454
@tymfear oh, sorry don't test it with protractor. It's about unit tests.

[2019-04-07 08:46] cnishina commented on #5192
https://github.com/angular/protractor/pull/5213 should resolve this. We will do another release at 6.0.0-beta.1 and wait to do a release when things appear stable.

[2019-04-08 07:52] vladborsh opened #5214 "protractor return 'An unexpected error occurred: undefined' on all error"
I use protractor and anuglar. I
 have got a error " E/launcher - Process exited with error code 1 An unexpected error occurred: undefined" on all error. Any ideas?

Bug report
---

- Node Version: `10.14.1`
- Protractor Version: `5.4.1`
- Angular Version: `7`
- Browser(s): `Chrome`
- Operating System and Version `window 10`
- Your protractor configuration file
// Protractor configuration file, see

[2019-04-08 11:43] nayanr9 commented on #669
@here anyone is having the options/capabilities for IE, Please paste here.
I tried `'ignoreZoomSetting': true,` which is not working.

[2019-04-08 12:33] boisamazing commented on #4976
Restarting VSCode fixed this error like a magic in my case.

[2019-04-08 14:12] demisx commented on #4976
For me, this error would disappear after restart, but then would be back later. I haven't figured out how to get rid of it, except exclude `node_modules/` from the navigation tree which is not optimal, of course.

[2019-04-08 16:03] sri85 commented on #4966
If `chrome` is running as a docker container then
[code]
should stop `chrome` from crashing

[2019-04-08 16:08] sri85 commented on #4941
@djom20 Are you using `jasmine` or `cucumber` in either case, there is an option `failFast` which aborts the test suite immediately when a test fails

[2019-04-08 17:58] vsravuri commented on #5145
@juliemr @cnishina

Any plan to fix this issue in the beta release you are working on?

[2019-04-08 21:02] cnishina commented on #5212
No reproducible instructions. If you feel that this is an issue with Protractor, please feel free to open a new issue with more information.

Please ask your support questions on [StackOverflow](http://stackoverflow.com/questions/tagged/protractor) or [Gitter](https://gitter.im/angular/protractor). For more information please reference https://github.com/angular/protractor/blob/master/CONTRIBUTING

[2019-04-08 21:02] #5212 closed

[2019-04-08 21:04] cnishina commented on #5209
Blocked. Still need to release a working version of Protractor 6 and coordinate with the CLI team.

[2019-04-09 07:38] cnishina commented on #5214
Questions:

Could you provide more info? What is htmlEpcAppPage? What is it doing? What is the .globalSearchIndex and what kind of promise is it? Could you add more information about which line is the error? What portion did it run to?

Also, what is this config:
[code]

[2019-04-09 22:58] anilreddii opened #5215 "WebDriverError: No active session with ID"
Hi there!

Thanks for submitting an issue to Protractor.

To help us help you better, please do the following before submitting an issue:

1. Review the questions section of [CONTRIBUTING.md](https://github.com/angular/protractor/blob/master/CONTRIBUTING.md#contributing).
2. Make sure you are not asking a usage or debugging question. If you are, use [StackOverflow](http://stackoverflow.com/questio

[2019-04-10 00:26] cnishina opened #5216 "Protractor 6: Browser getter ignoreSynchronization to log error"
Since its been deprecated.

[2019-04-10 00:27] cnishina commented on #5216
Also do this for other methods removed. (log as warning not error)

[2019-04-10 03:07] jayanathkarunarathna commented on #4578
Hi,
I'm also stuck in this situation and I'm using selenium-webdriver. I tried everything in this thread but no luck. My last approach is as follows but it does not click the required element. Can you please help.

exports.clickOnMiddle = (el) => {
    var actionChain = driver.actions({ bridge: true });
    return actionChain.move({ origin: el, x: 5, y: 5 })
        .perform().then(() => actionCha

[2019-04-10 08:08] murcraft commented on #175
I have the same problem:
[code]

protractor: 5.4.2

[2019-04-10 09:20] cnishina commented on #5215
There is not enough information to reproduce this. This also looks like a support question since Protractor itself works but TFS set it appears to be the issue. Please ask your support questions on [StackOverflow](http://stackoverflow.com/questions/tagged/protractor) or [Gitter](https://gitter.im/angular/protractor). For more information please reference https://github.com/angular/protractor/blob/

[2019-04-10 09:20] #5215 closed

[2019-04-10 10:31] nayanr9 commented on #4091
I am getting this issue now in 2019, not sure if there was a solution for this.?
Any Help Plz.

Failed: EADDRINUSE connect EADDRINUSE 127.0.0.1:57299
Error: EADDRINUSE connect EADDRINUSE 127.0.0.1:57299
    at ClientRequest.<anonymous> (C:\portal\angular\node_modules\selenium-webdriver\http\index.js:238:15)
    at ClientRequest.emit (events.js:182:13)
    at Socket.socketErrorListener (_http_clien

[2019-04-10 22:53] AugustusKling commented on #5192
#5213 looks like a good approach to fix this. Pulling from @types/selenium-webdriver, as users of Protractor would, ensures that there are no surprises due to differing type definitions.

I'm somewhat confused about the versioning though:
* A 6.0.0-beta.1 seems odd as a version for an upcoming release given a tag 6.0.0 already exists for Protractor.
* 6.0.0 is already in the version list in https:

[2019-04-11 08:53] murcraft commented on #175
Resolved https://github.com/angular/protractor/issues/175#issuecomment-481584687.
You should delete geckodriver from node_modules and run webdriver-manager update. I noticed prefs didn't work with selenium.standalone 3.4.0

[2019-04-11 09:41] PreetalC opened #5217 "Unable to select range for range selector control graph"
Bug report
Unable to select range for range selector control graph

- Node Version: `10.1.0`
- Protractor Version: `5.3.2`
- Browser(s): `Chrome`
- Steps to reproduce the bug -

1) Try to automate range selector graph as shown in below image
2) Script need to move the circle left or right and graph should calculated the correct result
Please find below sample image for same

https://d585tldpucybw.

[2019-04-11 10:49] cnishina commented on #5192
So here's some hindsight thoughts on release 6. I think I've written similar comments in other GitHub issue threads already:

### So I tried to release 6.0.0...

6.0.0 was released and I was definitely disappointed that there were issues. There are a lot of changes internally that happened like removing q and selenium-webdriver control flow.

The original plan was to use selenium-webdriver type de

[2019-04-11 11:15] kylecordes commented on #5192
(I have **not** consulted server documentation as I write this.)

As a consumer of packages I definitely assume that 6.0.0-beta.1 is a beta during development toward 6.0.0, not something happening after 6.0.0.

[2019-04-11 11:28] cnishina commented on #5192
Thanks @kylecordes. 6.0.1-beta.1 it is!

[2019-04-11 11:29] cnishina commented on #5217
Hi! This looks like a support question. Please ask your support questions on [StackOverflow](http://stackoverflow.com/questions/tagged/protractor), [Google Group discussion list](https://groups.google.com/forum/?fromgroups#!forum/angular), or [Gitter](https://gitter.im/angular/protractor). For more information please reference https://github.com/angular/protractor/blob/master/CONTRIBUTING.md#quest

[2019-04-11 11:29] #5217 closed

[2019-04-11 14:32] sebastianhaas commented on #301
I can confirm this is still an issue with Angular 7.2.3 and Protractor 5.4.0 on 73.0.3683.103.

[2019-04-11 15:34] andreasmarkussen commented on #4769
I tried using cucumber directly in the same project, and there it works fine, so this must be related to protractor or protractor-cucumber-framework

[2019-04-11 16:52] luli0822 opened #5218 "Protractor to pass Google Authentication and redirect to app"
Hi there!

I am facing an issue while doing our e2e testing using protractor with Google Authentication. The flow is as below:
1. When the app loads initially, it just shows a Google Sign In button and a user can click it to log in.
2. It will display a popup window for Google Sign In as usual where we all are familiar with.
3. From the window, it requires an email or phone firstly, then click Nex

[2019-04-11 20:42] cnishina commented on #5192
I think there's a lot of context about Protractor 6 and the compilation issue. I'm going to lock this conversation so I can focus on fixing stuff. :smile:

[2019-04-11 20:43] cnishina commented on #5218
Could you format your markdown? This is hard to read.

[2019-04-11 21:24] krish0205 commented on #978
Is there a way to run same it for several times based on array size in the JSON.
My JSON file looks like this:
[code]

[2019-04-12 00:36] cnishina commented on #5218
Upon further inspection this looks like a support question. Please ask your support questions on [StackOverflow](http://stackoverflow.com/questions/tagged/protractor) or [Gitter](https://gitter.im/angular/protractor). For more information please reference https://github.com/angular/protractor/blob/master/CONTRIBUTING.md#questions

Thank you!

[2019-04-12 00:36] #5218 closed

[2019-04-12 09:11] PreetalC commented on #5217
Thank you for your response

[2019-04-12 09:33] rkrisztian commented on #4687
Might be fixed in Protractor 6, need to retest...

[2019-04-12 15:02] snowtans opened #5219 "Can someone help provide proper configuration to have protractor run in firefox, and compatible version of firefox"
I am using the following configuration for protractor :
    "protractor": "^5.4.2",
    "should": "^7.1.1",
    "webdriver-manager": "^12.1.1",
    "webpack": "^1.12.6"
 [11:06:02] I/status - selenium standalone version available: 3.141.59 [last]
[11:06:02] I/status - chromedriver versions available: 2.45, 2.46 [last]
[11:06:02] I/status - geckodriver versions available: v0.13.0, v0.17.0 [last], v

[2019-04-12 20:33] cnishina commented on #5219
Hi! This looks like a support question. Please ask your support questions on [StackOverflow](http://stackoverflow.com/questions/tagged/protractor) or [Gitter](https://gitter.im/angular/protractor). For more information please reference https://github.com/angular/protractor/blob/master/CONTRIBUTING.md#questions

Thank you!